In [1]:
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [2]:
project_dir = str(Path().resolve().parents[2])
nrega_dir = str(Path().resolve().parents[1])
nrega_dir
# raw_folder = os.path.join(
#     os.path.join(os.path.join(project_dir, "data"), "raw"), "receipt_budget"
# )

'C:\\dev\\bipp-datasets\\projects\\nrega-impact'

In [121]:
lgd = pd.read_csv(os.path.join(nrega_dir, r"helper_files/ac_panchayat.csv"), encoding="iso-8859-1")
# renaming the concerned columns
# lgd = lgd.rename(columns={"stname": "state_name", "dtname": "district_name"})
# subsetting for necessary columns
lgd = lgd[["stname", "ST_CODE","dtname", "DT_CODE","gp_name","gp_code"]].drop_duplicates()
lgd.columns = ['state_name','state_code','district_name','district_code','gp_name','gp_code']
# uppercasing all names
# lgd["state_name_lower"] = lgd["state_name"].str.lower()
# lgd["district_name_lower"] = lgd["district_name"].str.lower()
# lgd["block_name"] = lgd["block_name"].str.upper()
lgd["gp_name_lower"] = lgd["gp_name"].str.lower()

# concatenating states, districts, blocks and panchayats

# lgd["state_dist_panch"] = lgd["state_name_lower"] + "_" + lgd["district_name_lower"] + "_" + lgd["gp_name_lower"]
up_lgd = lgd[lgd['state_name'] == 'UTTAR PRADESH'].copy()
up_lgd[['state_code','district_code']] = up_lgd[['state_code','district_code']].astype(int)
up_lgd

c:\dev\bipp-datasets\projects\nrega-impact\.venv\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (7,27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,state_name,state_code,district_name,district_code,gp_name,gp_code,gp_name_lower
67556,UTTAR PRADESH,6,Saharanpur,3,GHORON,33368,ghoron
88170,UTTAR PRADESH,23,Lalitpur,8,NIWARI,269771,niwari
89645,UTTAR PRADESH,23,Sonbhadra,17,DIGHAWAR,151930,dighawar
89649,UTTAR PRADESH,23,Sonbhadra,17,RAMDIHA,151993,ramdiha
106665,UTTAR PRADESH,23,Jhansi,5,LAHAR HAWELI,136460,lahar haweli
...,...,...,...,...,...,...,...
224729,UTTAR PRADESH,9,Sonbhadra,70,Dhartidolwa,271248,dhartidolwa
224730,UTTAR PRADESH,9,Sonbhadra,70,Dalapipar,90370,dalapipar
224731,UTTAR PRADESH,9,Sonbhadra,70,KUARAVA,90349,kuarava
224732,UTTAR PRADESH,9,Sonbhadra,70,KARAHIYA,90550,karahiya
224733,UTTAR PRADESH,9,Sonbhadra,70,Bodhadih,271269,bodhadih

In [122]:
der_lgd = pd.read_csv(os.path.join(nrega_dir, r"helper_files/St_Dt_Blk_Gp_LGD_Codes_20-5-21.csv")).dropna(subset=['gp_code'])
# # uppercasing all names
# der_lgd["state_name_lower"] = der_lgd["state_name"].str.lower()
# der_lgd["district_name_lower"] = der_lgd["district_name"].str.lower()
# der_lgd["block_name_lower"] = der_lgd["block_name"].str.lower()
der_lgd["gp_name_lower"] = der_lgd["gp_name"].str.lower().str.replace('rf ',';').str.replace('/',';')
der_lgd["gp_name_1"] = der_lgd["gp_name_lower"].str.lower().str.split(';').str[0].str.strip()
der_lgd["gp_name_2"] = der_lgd["gp_name_lower"].str.lower().str.split(';').str[1].str.strip()

# # concatenating states, districts, blocks and panchayats

# der_lgd["state_dist_panch"] = der_lgd["gp_name_lower"]
der_up_lgd = der_lgd[der_lgd['state_name'] == 'UTTAR PRADESH'].copy()
# up_lgd.drop(columns=['state_name','state_name_lower','district_name','district_name_lower','block_name','block_name_lower','gp_name','gp_name_lower'], inplace=True)
der_up_lgd.drop(columns=['state_name','district_name','block_name','gp_name'], inplace=True)
der_up_lgd[['state_code','district_code','block_code','gp_code']] = der_up_lgd[['state_code','district_code','block_code','gp_code']].astype(int)
der_up_lgd

,state_code,district_code,block_code,gp_code,gp_name_lower,gp_name_1,gp_name_2
204220,9,118,803,42727,abhaudopura,abhaudopura,NaN
204221,9,118,803,42728,akabara,akabara,NaN
204222,9,118,803,42729,ardaya,ardaya,NaN
204223,9,118,803,42730,arrua khas,arrua khas,NaN
204224,9,118,803,42731,arsena,arsena,NaN
...,...,...,...,...,...,...,...
263366,9,187,1623,265920,todarpur,todarpur,NaN
263367,9,187,1623,265921,jogapur,jogapur,NaN
263368,9,187,1623,265922,rameshvar,rameshvar,NaN
263369,9,187,1623,265923,bhagautipur,bhagautipur,NaN
263370,9,187,1623,265924,maniyaripur,maniyaripur,NaN

In [5]:
curr_state = "UTTAR PRADESH"
# print(der_up_lgd['gp_name_1'].nunique(), der_up_lgd['gp_name_2'].nunique())

In [123]:
files = [file for file in  Path(nrega_dir).glob("./data/processed/block_lgd_mapped/*.csv") if file.stem == curr_state]
files

[WindowsPath('C:/dev/bipp-datasets/projects/nrega-impact/data/processed/block_lgd_mapped/UTTAR PRADESH.csv')]

In [124]:
df = pd.concat(pd.read_csv(f) for f in files).reset_index(drop=True)
df

,state,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,work_code,work_started_date,work_physically_completed_date,finished_when,sanction_amount_in_lakh,total_amount_paid_since_inception_in_lakh,total_mandays,no_of_units,is_secure,work_status,master_work_category_name,work_category_name,work_start_fin_year
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,KACHURA,3120002022/IC/9818,2006-06-15,2009-06-17,3.0,0.6050,0.0000,130.0,1.0,0.0,1.0,1.0,9.0,2006-2007
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,3120002001/RC/1,2008-07-10,2010-03-31,3.0,0.5978,0.0571,470.0,1.0,0.0,1.0,4.0,12.0,2008-2009
2,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,3120002001/OP/7219,2009-02-15,2009-03-31,3.0,2.8500,4.2700,145.0,1.0,0.0,1.0,NaN,10.0,2008-2009
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,3120002002/RC/0001,2009-01-01,2009-01-15,3.0,1.7000,0.0000,187.0,1.0,0.0,1.0,4.0,12.0,2008-2009
4,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,3120002002/RC/6,2008-12-19,2008-12-30,3.0,1.0659,0.2290,229.0,1.0,0.0,1.0,4.0,12.0,2008-2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5860990,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PUTHAR,3165020030/FP/958486255822951683,2018-10-23,2019-06-03,3.0,0.6691,0.6265,358.0,1.0,0.0,1.0,4.0,6.0,2018-2019
5860991,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PUTHAR,3165020030/RC/958486255822970674,2018-10-23,2019-06-02,3.0,1.2325,1.0430,611.0,1.0,0.0,1.0,4.0,12.0,2018-2019
5860992,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SAIDBHAR,3165020033/RC/958486255822944220,2018-06-26,2018-10-08,3.0,0.2838,0.0315,18.0,1.0,0.0,1.0,4.0,12.0,2018-2019
5860993,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SINDHAWALI AHEER,3165020037/FP/958486255822955422,2018-04-10,2019-08-01,3.0,1.1432,0.7140,420.0,1.0,0.0,1.0,4.0,6.0,2018-2019
5860994,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SINDHAWALI AHEER,3165020037/FP/958486255822890875,2018-05-22,2018-06-07,3.0,0.7724,0.6300,360.0,1.0,0.0,1.0,4.0,6.0,2018-2019

In [125]:
data_codes = df[['state','state_LGD_code','district','district_LGD_code','block_name','block_LGD_code','panchayat_name']].drop_duplicates().reset_index(drop=True)
# data_codes["state_name_lower"] = data_codes["state"].str.lower()
# data_codes["district_name_lower"] = data_codes["district"].str.lower()
# data_codes["block_name_lower"] = data_codes["block_name"].str.lower()
data_codes["gp_name_lower"] = data_codes["panchayat_name"].str.lower()
# concatenating states, districts, blocks and panchayats
# data_codes["state_dist_panch"] = data_codes["gp_name_lower"]
# data_codes.drop(columns=['state_name_lower','district_name_lower','gp_name_lower'], inplace=True)
data_codes

,state,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,gp_name_lower
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,KACHURA,kachura
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,abahde pura
2,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,aerdaya
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AKBARA,akbara
4,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AROAKHAS,aroakhas
...,...,...,...,...,...,...,...,...
58159,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,HABIBPUR NAGLA,habibpur nagla
58160,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,TILPANI,tilpani
58161,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,ABDULPUR MAVALA,abdulpur mavala
58162,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,FATHAPUR,fathapur
58163,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SHAZANPUR THISORA ORF NAVADA,shazanpur thisora orf navada

In [126]:
merged_codes = data_codes.merge(der_up_lgd[['state_code','district_code','block_code','gp_code','gp_name_lower']], 
                                        left_on=['block_LGD_code','gp_name_lower'], right_on=['block_code','gp_name_lower'], how='left')

merged_codes = merged_codes.merge(der_up_lgd[['block_code','gp_code','gp_name_1']], 
                                    left_on=['block_LGD_code','gp_name_lower'], right_on=['block_code','gp_name_1'], how='left')
merged_codes['gp_code_x'] = merged_codes['gp_code_x'].fillna(merged_codes['gp_code_y'])
merged_codes = merged_codes.rename(columns={'gp_code_x':'gp_code'}).drop(['block_code_x','block_code_y','gp_code_y','gp_name_1'], axis=1)

merged_codes = merged_codes.merge(der_up_lgd[['block_code','gp_code','gp_name_2']], 
                                    left_on=['block_LGD_code','gp_name_lower'], right_on=['block_code','gp_name_2'], how='left')
merged_codes['gp_code_x'] = merged_codes['gp_code_x'].fillna(merged_codes['gp_code_y'])
merged_codes = merged_codes.rename(columns={'gp_code_x':'gp_code'}).drop(['block_code','gp_code_y','gp_name_2','state_code','district_code'], axis=1)

# merged_codes = merged_codes.merge(der_up_lgd, left_on=['block_LGD_code','gp_name_lower'], right_on=['block_code','gp_name_2'], how='left')
merged_codes.rename(columns={'state_LGD_code':'state_code', 'district_LGD_code':'district_code','block_LGD_code':'block_code'}, inplace=True)
merged_codes

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,KACHURA,kachura,NaN
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,abahde pura,NaN
2,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,aerdaya,NaN
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AKBARA,akbara,NaN
4,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AROAKHAS,aroakhas,NaN
...,...,...,...,...,...,...,...,...,...
58570,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,HABIBPUR NAGLA,habibpur nagla,48708.0
58571,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,TILPANI,tilpani,48737.0
58572,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,ABDULPUR MAVALA,abdulpur mavala,NaN
58573,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,FATHAPUR,fathapur,NaN
58574,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SHAZANPUR THISORA ORF NAVADA,shazanpur thisora orf navada,NaN

In [128]:
pending_codes = merged_codes[merged_codes['gp_code'].isna()].copy().reset_index(drop=True)
pending_codes

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,KACHURA,kachura,NaN
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,abahde pura,NaN
2,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,aerdaya,NaN
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AKBARA,akbara,NaN
4,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AROAKHAS,aroakhas,NaN
...,...,...,...,...,...,...,...,...,...
35435,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,MAVIKHURD,mavikhurd,NaN
35436,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PURAMAHADAV,puramahadav,NaN
35437,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,ABDULPUR MAVALA,abdulpur mavala,NaN
35438,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,FATHAPUR,fathapur,NaN
35439,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SHAZANPUR THISORA ORF NAVADA,shazanpur thisora orf navada,NaN

In [129]:
mapped_codes_1 = merged_codes[merged_codes['gp_code'].notnull()].copy().reset_index(drop=True)
mapped_codes_1

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ARSENA,arsena,42731.0
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BABROD,babrod,42733.0
2,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BARAULI,barauli,42734.0
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BASTAI,bastai,42735.0
4,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BHILAWATI,bhilawati,42736.0
...,...,...,...,...,...,...,...,...,...
23130,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SAIDBHAR,saidbhar,48731.0
23131,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SALAWATPUR KHERI,salawatpur kheri,48733.0
23132,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SIKHERA,sikhera,48735.0
23133,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,HABIBPUR NAGLA,habibpur nagla,48708.0
23134,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,TILPANI,tilpani,48737.0

In [130]:
ma_lgd = pd.read_csv(os.path.join(nrega_dir, r"helper_files/up_mission_antyodaya.csv"))
ma_lgd = ma_lgd[['district_name','district_code','block_code','gp_name_x','gp_code']].drop_duplicates().rename({'gp_name_x':'gp_name'}, axis=1)
ma_lgd[['district_code','block_code']] = ma_lgd[['district_code','block_code']].astype(int)
ma_lgd['gp_name_lower'] = ma_lgd['gp_name'].str.lower()
ma_lgd

,district_name,district_code,block_code,gp_name,gp_code,gp_name_lower
0,Agra,118,803,Abhaudopura,42727,abhaudopura
1,Agra,118,803,Akabara,42728,akabara
2,Agra,118,803,Anganpur,265508,anganpur
3,Agra,118,803,Ardaya,42729,ardaya
4,Agra,118,803,Arrua Khas,42730,arrua khas
...,...,...,...,...,...,...
59113,Varanasi,187,1619,Ugapur,93297,ugapur
59114,Varanasi,187,1621,Kandwa,243382,kandwa
59115,Varanasi,187,1621,Kotawa,243378,kotawa
59116,Varanasi,187,1621,Lahartara,243380,lahartara
59117,Varanasi,187,1621,Lohata,243377,lohata

In [131]:
pending_merged = pending_codes.merge(ma_lgd, left_on=['block_code','gp_name_lower'], right_on=['block_code','gp_name_lower'], how='left')
# pending_merged = pending_merged[pending_merged['gp_code'].notnull()].copy()
pending_merged['gp_code_x'] = pending_merged['gp_code_x'].fillna(pending_merged['gp_code_y'])
pending_merged = pending_merged.rename(columns={'gp_code_x':'gp_code','district_code_x':'district_code'}).drop(['district_code_y','gp_code_y','district_name','gp_name'], axis=1)
pending_merged

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,KACHURA,kachura,NaN
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,abahde pura,NaN
2,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,aerdaya,NaN
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AKBARA,akbara,NaN
4,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AROAKHAS,aroakhas,NaN
...,...,...,...,...,...,...,...,...,...
35435,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,MAVIKHURD,mavikhurd,NaN
35436,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PURAMAHADAV,puramahadav,NaN
35437,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,ABDULPUR MAVALA,abdulpur mavala,NaN
35438,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,FATHAPUR,fathapur,NaN
35439,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SHAZANPUR THISORA ORF NAVADA,shazanpur thisora orf navada,NaN

In [134]:
mapped_codes_2 = pending_merged[pending_merged['gp_code'].notnull()].copy()
mapped_codes_2['gp_code'] = mapped_codes_2['gp_code'].astype(int)
# mapped_codes_2

In [135]:
mapped_codes_1_2 = pd.concat([mapped_codes_1, mapped_codes_2]).reset_index(drop=True)
mapped_codes_1_2['gp_code'] = mapped_codes_1_2['gp_code'].astype(int)
mapped_codes_1_2

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ARSENA,arsena,42731
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BABROD,babrod,42733
2,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BARAULI,barauli,42734
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BASTAI,bastai,42735
4,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BHILAWATI,bhilawati,42736
...,...,...,...,...,...,...,...,...,...
23188,UTTAR PRADESH,9,SIDDHARTH NAGAR,182,BHANWAPUR,1538,Ramwapur Urf nabua,ramwapur urf nabua,88105
23189,UTTAR PRADESH,9,SIDDHARTH NAGAR,182,DOMARIYAGANJ,1540,Tenuhar Urf Kathotia,tenuhar urf kathotia,88271
23190,UTTAR PRADESH,9,SIDDHARTH NAGAR,182,ITWA,1541,Benipur Urf Puraina,benipur urf puraina,88286
23191,UTTAR PRADESH,9,AZAMGARH,123,THEKMA,887,SHEKHPUR URF PATHANPUR,shekhpur urf pathanpur,48421
23192,UTTAR PRADESH,9,AZAMGARH,123,LALGANJ,873,NATHMALPUR URF VISHAMBHARPUR,nathmalpur urf vishambharpur,272022

In [137]:
pending_2 = pending_merged[pending_merged['gp_code'].isna()].copy().reset_index(drop=True)
pending_2

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,KACHURA,kachura,NaN
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,abahde pura,NaN
2,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,aerdaya,NaN
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AKBARA,akbara,NaN
4,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AROAKHAS,aroakhas,NaN
...,...,...,...,...,...,...,...,...,...
35377,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,MAVIKHURD,mavikhurd,NaN
35378,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PURAMAHADAV,puramahadav,NaN
35379,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,ABDULPUR MAVALA,abdulpur mavala,NaN
35380,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,FATHAPUR,fathapur,NaN
35381,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SHAZANPUR THISORA ORF NAVADA,shazanpur thisora orf navada,NaN

### Fuzzy Matching  Repeat untile you have a proper mapping file

In [97]:
import fuzzymatcher

In [138]:
# converting to pandas dataframes
pending2_gp = pending_2[['block_code','gp_name_lower']].drop_duplicates().reset_index(drop=True)
pending2_gp['index'] = pending2_gp.index
lgd_gp = ma_lgd[['block_code','gp_name_lower','gp_code']].drop_duplicates().reset_index(drop=True)
lgd_gp['index'] = lgd_gp.index
lgd_gp

       block_code gp_name_lower  gp_code  index
0             803   abhaudopura    42727      0
1             803       akabara    42728      1
2             803      anganpur   265508      2
3             803        ardaya    42729      3
4             803    arrua khas    42730      4
...           ...           ...      ...    ...
58740        1619        ugapur    93297  58740
58741        1621        kandwa   243382  58741
58742        1621        kotawa   243378  58742
58743        1621     lahartara   243380  58743
58744        1621        lohata   243377  58744

[58745 rows x 4 columns]

In [139]:

fuzzy_matched_1 = fuzzymatcher.fuzzy_left_join(pending2_gp, lgd_gp, left_on = ['block_code','gp_name_lower'], 
                                        right_on = ['block_code','gp_name_lower'],
                                        left_id_col='index',
                                        right_id_col='index')
fuzzy_matched_1

,best_match_score,__id_left,__id_right,block_code_left,gp_name_lower_left,index_left,block_code_right,gp_name_lower_right,gp_code,index_right
0,0.193499,0,25,803,kachura,0,803,kachaura,42749,25
50,-0.003586,1,13,803,abahde pura,1,803,biara,42737,13
150,0.217822,2,3,803,aerdaya,2,803,ardaya,42729,3
200,0.201600,3,1,803,akbara,3,803,akabara,42728,1
250,-0.129149,4,40,803,aroakhas,4,803,nagar,42764,40
...,...,...,...,...,...,...,...,...,...,...
1658505,-0.144252,35377,8227,893,mavikhurd,35377,893,pura,48728,8227
1658546,-0.144252,35378,8227,893,puramahadav,35378,893,pura,48728,8227
1658587,0.369127,35379,8195,893,abdulpur mavala,35379,893,abdullapur mevla,265479,8195
1658628,0.083464,35380,8208,893,fathapur,35380,893,fatehpur mazra,265478,8208
1658669,-0.099151,35381,8232,893,shazanpur thisora orf navada,35381,893,shahjahanpur tisotra urf nawada,265481,8232

In [119]:
pd.set_option('display.max_rows', 100)
mapped_path = os.path.join(nrega_dir, r'data\processed\pachayat_mapped')
mapped_path

'C:\\dev\\bipp-datasets\\projects\\nrega-impact\\data\\processed\\pachayat_mapped'

In [140]:
filtered_1 =  fuzzy_matched_1.query("best_match_score >= .041").sort_values( by=['best_match_score'], ascending=True).copy()
filtered_1.to_csv(os.path.join(mapped_path, 'fuzzy_mapped_1.csv'), index=False)
filtered_1
# .head(100)

,best_match_score,__id_left,__id_right,block_code_left,gp_name_lower_left,index_left,block_code_right,gp_name_lower_right,gp_code,index_right
184817,0.041009,3938,49685,986,muradeeha,3938,1509,muradeeha khurd,86289,49685
263688,0.041026,5708,18252,1030,baibaya biswana,5708,1030,biswanah,57466,18252
1075916,0.041037,23270,44293,1441,naugawa navinagar,23270,1441,naugawa santosh,81945,44293
1048691,0.041038,22697,43480,1424,banka wala,22697,1424,banka bala,80984,43480
908742,0.041048,19661,39371,1346,pipariya karanjaha,19661,1351,pipariya,267064,39371
...,...,...,...,...,...,...,...,...,...,...
87827,0.981002,1850,10188,925,nand nagar achanakpur,1850,925,nand nagar achanakpur,50542,10188
506949,1.041700,11090,25012,1146,aasmanichak urf malichak,11090,1146,asmanichak urf malichak,268246,25012
221584,1.048908,4730,15582,991,abdulpur munna urf hadarpur,4730,991,abdulpur munna urf hadarpur,54961,15582
1148450,1.050274,24637,5638,863,purwa pitaram ruruganj,24637,863,purwa pitaram (ruruganj),46747,5638
1359497,1.169307,29230,58576,1517,jalalnagar chungi wahar shahmatganj gutiya,29230,1517,jalalnagar chungi vahar urf sahamatganj gautiya,271048,58576

In [141]:
filtered_1_corr = pd.read_csv(os.path.join(mapped_path, 'fuzzy_mapped_1_manually_corrected.csv'))
filtered_1_corr

,best_match_score,__id_left,__id_right,block_code_left,gp_name_lower_left,index_left,block_code_right,gp_name_lower_right,gp_code,index_right
0,0.041009,3938,49685,986,muradeeha,3938,1509,muradeeha khurd,86289,49685
1,0.041026,5708,18252,1030,baibaya biswana,5708,1030,biswanah,57466,18252
2,0.041038,22697,43480,1424,banka wala,22697,1424,banka bala,80984,43480
3,0.041048,19661,39371,1346,pipariya karanjaha,19661,1351,pipariya,267064,39371
4,0.041108,1965,20394,927,vishunpur kalan,1965,1059,vishunpur kala,59327,20394
...,...,...,...,...,...,...,...,...,...,...
21678,0.981002,1850,10188,925,nand nagar achanakpur,1850,925,nand nagar achanakpur,50542,10188
21679,1.041700,11090,25012,1146,aasmanichak urf malichak,11090,1146,asmanichak urf malichak,268246,25012
21680,1.048908,4730,15582,991,abdulpur munna urf hadarpur,4730,991,abdulpur munna urf hadarpur,54961,15582
21681,1.050274,24637,5638,863,purwa pitaram ruruganj,24637,863,purwa pitaram (ruruganj),46747,5638
21682,1.169307,29230,58576,1517,jalalnagar chungi wahar shahmatganj gutiya,29230,1517,jalalnagar chungi vahar urf sahamatganj gautiya,271048,58576

In [145]:
# merged[merged['block_code_left'] == merged['block_code_right']]
pending2_mapped = pending_2.merge(filtered_1_corr[['block_code_left','gp_name_lower_left','gp_code']], left_on=['block_code','gp_name_lower'], right_on=['block_code_left','gp_name_lower_left'], how='left')
pending2_mapped['gp_code_x'] = pending2_mapped['gp_code_x'].fillna(pending2_mapped['gp_code_y'])
pending2_mapped = pending2_mapped.rename(columns={'gp_code_x':'gp_code'}).drop(['block_code_left','gp_code_y','gp_name_lower_left'], axis=1)
# .dropna(subset=['gp_code'])
# pending2_mapped['gp_code'] = pending2_mapped['gp_code'].astype(int)
pending2_mapped

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,KACHURA,kachura,42749.0
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,abahde pura,NaN
2,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,aerdaya,42729.0
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AKBARA,akbara,42728.0
4,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AROAKHAS,aroakhas,NaN
...,...,...,...,...,...,...,...,...,...
35377,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,MAVIKHURD,mavikhurd,NaN
35378,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PURAMAHADAV,puramahadav,NaN
35379,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,ABDULPUR MAVALA,abdulpur mavala,265479.0
35380,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,FATHAPUR,fathapur,265478.0
35381,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SHAZANPUR THISORA ORF NAVADA,shazanpur thisora orf navada,NaN

In [146]:
pending3 = pending2_mapped[pending2_mapped['gp_code'].isna()].copy().drop('gp_code',axis=1).reset_index(drop=True)
pending3_gp = pending3[['block_code','gp_name_lower']].drop_duplicates()
pending3_gp['index'] = pending3_gp.index
pending3_gp

       block_code                 gp_name_lower  index
0             803                   abahde pura      0
1             803                      aroakhas      1
2             803                     lohkarera      2
3             803                   muvarij pur      3
4             803                         sahta      4
...           ...                           ...    ...
13694         893              sindhawali aheer  13694
13695         893                       hisavda  13695
13696         893                     mavikhurd  13696
13697         893                   puramahadav  13697
13698         893  shazanpur thisora orf navada  13698

[13699 rows x 3 columns]

In [163]:
pending3_mapped = fuzzymatcher.fuzzy_left_join(pending3_gp, lgd_gp, left_on = ['gp_name_lower'], 
                                        right_on = ['gp_name_lower'],
                                        left_id_col='index',
                                        right_id_col='index')
pending3_mapped

,best_match_score,__id_left,__id_right,block_code_left,gp_name_lower_left,index_left,block_code_right,gp_name_lower_right,gp_code,index_right
0,0.000840,0,8227.0,803,abahde pura,0,893.0,pura,48728.0,8227.0
50,NaN,1,NaN,803,aroakhas,1,NaN,NaN,NaN,NaN
51,NaN,2,NaN,803,lohkarera,2,NaN,NaN,NaN,NaN
52,-0.155232,3,2916.0,803,muvarij pur,3,846.0,mani pur,45412.0,2916.0
102,NaN,4,NaN,803,sahta,4,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
182397,0.118696,13694,20937.0,893,sindhawali aheer,13694,1070.0,sindhawali,59994.0,20937.0
182401,NaN,13695,NaN,893,hisavda,13695,NaN,NaN,NaN,NaN
182402,NaN,13696,NaN,893,mavikhurd,13696,NaN,NaN,NaN,NaN
182403,NaN,13697,NaN,893,puramahadav,13697,NaN,NaN,NaN,NaN
182404,-0.064933,13698,15566.0,893,shazanpur thisora orf navada,13698,990.0,sahanpur navada,265602.0,15566.0

In [167]:
filtered_2 =  pending3_mapped.query("best_match_score >= 0.08").sort_values( by=['best_match_score'], ascending=True).copy()
filtered_2
# .head(100)

,best_match_score,__id_left,__id_right,block_code_left,gp_name_lower_left,index_left,block_code_right,gp_name_lower_right,gp_code,index_right
22530,0.080084,1658,10313.0,982,mishrauliya dhish,1658,927.0,mishrauliya,50671.0,10313.0
4120,0.080085,201,4063.0,904,bhagwan pur katghar,201,1578.0,bhagan pur,90813.0,4063.0
148935,0.080127,11393,8722.0,1534,lalbojha darbesh gaon,11393,900.0,lalbojha,49166.0,8722.0
75401,0.080198,5900,29620.0,1266,rur bahar,5900,1212.0,bahar,68454.0,29620.0
167779,0.080205,12642,10974.0,1612,mavai man,12642,938.0,mavai,51359.0,10974.0
...,...,...,...,...,...,...,...,...,...,...
139069,0.466207,10639,35125.0,1004,pathak pur,10639,1077.0,pathak pur,270171.0,35125.0
99525,0.467225,7546,40788.0,1374,bijoli bangar,7546,1374.0,bijoli banger,78033.0,40788.0
38974,0.474340,2983,40566.0,1074,nagla kazi,2983,1369.0,nagla kazi,266486.0,40566.0
47564,0.481394,3551,28341.0,1129,nagola amipur,3551,1132.0,amipur nagola,239134.0,28341.0
138089,0.646196,10590,48541.0,1412,salempur salar uruf hajipur,10590,1412.0,salimpur salar urf hajipur,80155.0,48541.0

In [168]:
# filtered_2[filtered_2['gp_code'].notnull()]

In [181]:
pending3_merged = pending3.merge(filtered_2[['block_code_left','gp_name_lower_left','gp_code']].drop_duplicates(keep='first'), 
                        left_on=['block_code','gp_name_lower'], right_on=['block_code_left','gp_name_lower_left'], how='left')
pending3_merged = pending3_merged[['state','state_code','district','district_code','block_name','block_code','panchayat_name','gp_name_lower','gp_code']].dropna(subset=['gp_code'])
pending3_merged['gp_code'] = pending3_merged['gp_code'].astype(int)
pending3_merged

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
22,UTTAR PRADESH,9,AGRA,118,KHANDAULI,813,GUDHA,gudha,77075
23,UTTAR PRADESH,9,AGRA,118,KHANDAULI,813,PAIT KHEDA,pait kheda,85417
29,UTTAR PRADESH,9,AGRA,118,KHERAGARH,814,BAKAL PUR,bakal pur,51148
32,UTTAR PRADESH,9,AGRA,118,KHERAGARH,814,KHAN PUR,khan pur,91580
40,UTTAR PRADESH,9,AGRA,118,PINAHAT,815,PAPRI NAGAR,papri nagar,238634
...,...,...,...,...,...,...,...,...,...
13672,UTTAR PRADESH,9,BAGHPAT,124,BINAULI,890,MU.PUR POIS,mu.pur pois,43036
13676,UTTAR PRADESH,9,BAGHPAT,124,BINAULI,890,MU.KAMALA,mu.kamala,54834
13681,UTTAR PRADESH,9,BAGHPAT,124,CHHAPRAULI,891,KURDI,kurdi,85051
13686,UTTAR PRADESH,9,BAGHPAT,124,KHEKRA,892,NIROJPUR AIMA,nirojpur aima,72453
13694,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SINDHAWALI AHEER,sindhawali aheer,59994

In [183]:
mapped_codes_1_2_3 = pd.concat([mapped_codes_1_2, pending3_merged]).drop_duplicates().reset_index(drop=True)
mapped_codes_1_2_3['gp_name_lower'] = mapped_codes_1_2_3['panchayat_name'].str.lower()
mapped_codes_1_2_3

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ARSENA,arsena,42731
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BABROD,babrod,42733
2,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BARAULI,barauli,42734
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BASTAI,bastai,42735
4,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BHILAWATI,bhilawati,42736
...,...,...,...,...,...,...,...,...,...
25244,UTTAR PRADESH,9,BAGHPAT,124,BINAULI,890,MU.PUR POIS,mu.pur pois,43036
25245,UTTAR PRADESH,9,BAGHPAT,124,BINAULI,890,MU.KAMALA,mu.kamala,54834
25246,UTTAR PRADESH,9,BAGHPAT,124,CHHAPRAULI,891,KURDI,kurdi,85051
25247,UTTAR PRADESH,9,BAGHPAT,124,KHEKRA,892,NIROJPUR AIMA,nirojpur aima,72453
25248,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SINDHAWALI AHEER,sindhawali aheer,59994

In [184]:
df['gp_name_lower'] = df['panchayat_name'].str.lower()
df

,state,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,work_code,work_started_date,work_physically_completed_date,...,sanction_amount_in_lakh,total_amount_paid_since_inception_in_lakh,total_mandays,no_of_units,is_secure,work_status,master_work_category_name,work_category_name,work_start_fin_year,gp_name_lower
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,KACHURA,3120002022/IC/9818,2006-06-15,2009-06-17,...,0.6050,0.0000,130.0,1.0,0.0,1.0,1.0,9.0,2006-2007,kachura
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,3120002001/RC/1,2008-07-10,2010-03-31,...,0.5978,0.0571,470.0,1.0,0.0,1.0,4.0,12.0,2008-2009,abahde pura
2,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,3120002001/OP/7219,2009-02-15,2009-03-31,...,2.8500,4.2700,145.0,1.0,0.0,1.0,NaN,10.0,2008-2009,abahde pura
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,3120002002/RC/0001,2009-01-01,2009-01-15,...,1.7000,0.0000,187.0,1.0,0.0,1.0,4.0,12.0,2008-2009,aerdaya
4,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,3120002002/RC/6,2008-12-19,2008-12-30,...,1.0659,0.2290,229.0,1.0,0.0,1.0,4.0,12.0,2008-2009,aerdaya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5860990,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PUTHAR,3165020030/FP/958486255822951683,2018-10-23,2019-06-03,...,0.6691,0.6265,358.0,1.0,0.0,1.0,4.0,6.0,2018-2019,puthar
5860991,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PUTHAR,3165020030/RC/958486255822970674,2018-10-23,2019-06-02,...,1.2325,1.0430,611.0,1.0,0.0,1.0,4.0,12.0,2018-2019,puthar
5860992,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SAIDBHAR,3165020033/RC/958486255822944220,2018-06-26,2018-10-08,...,0.2838,0.0315,18.0,1.0,0.0,1.0,4.0,12.0,2018-2019,saidbhar
5860993,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SINDHAWALI AHEER,3165020037/FP/958486255822955422,2018-04-10,2019-08-01,...,1.1432,0.7140,420.0,1.0,0.0,1.0,4.0,6.0,2018-2019,sindhawali aheer
5860994,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SINDHAWALI AHEER,3165020037/FP/958486255822890875,2018-05-22,2018-06-07,...,0.7724,0.6300,360.0,1.0,0.0,1.0,4.0,6.0,2018-2019,sindhawali aheer

In [189]:
mapped_df = df.merge(mapped_codes_1_2_3[['block_code','gp_name_lower','gp_code']], left_on=['block_LGD_code','gp_name_lower'],
                                right_on=['block_code','gp_name_lower'], how='left')
mapped_df = mapped_df.drop(['gp_name_lower','block_code'], axis=1)
gp_code_column = mapped_df.pop('gp_code')
mapped_df.insert(7, 'gp_code', gp_code_column)
mapped_df

,state,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,gp_code,work_code,work_started_date,...,finished_when,sanction_amount_in_lakh,total_amount_paid_since_inception_in_lakh,total_mandays,no_of_units,is_secure,work_status,master_work_category_name,work_category_name,work_start_fin_year
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,KACHURA,NaN,3120002022/IC/9818,2006-06-15,...,3.0,0.6050,0.0000,130.0,1.0,0.0,1.0,1.0,9.0,2006-2007
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,NaN,3120002001/RC/1,2008-07-10,...,3.0,0.5978,0.0571,470.0,1.0,0.0,1.0,4.0,12.0,2008-2009
2,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,NaN,3120002001/OP/7219,2009-02-15,...,3.0,2.8500,4.2700,145.0,1.0,0.0,1.0,NaN,10.0,2008-2009
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,NaN,3120002002/RC/0001,2009-01-01,...,3.0,1.7000,0.0000,187.0,1.0,0.0,1.0,4.0,12.0,2008-2009
4,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,NaN,3120002002/RC/6,2008-12-19,...,3.0,1.0659,0.2290,229.0,1.0,0.0,1.0,4.0,12.0,2008-2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5861214,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PUTHAR,NaN,3165020030/FP/958486255822951683,2018-10-23,...,3.0,0.6691,0.6265,358.0,1.0,0.0,1.0,4.0,6.0,2018-2019
5861215,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PUTHAR,NaN,3165020030/RC/958486255822970674,2018-10-23,...,3.0,1.2325,1.0430,611.0,1.0,0.0,1.0,4.0,12.0,2018-2019
5861216,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SAIDBHAR,48731.0,3165020033/RC/958486255822944220,2018-06-26,...,3.0,0.2838,0.0315,18.0,1.0,0.0,1.0,4.0,12.0,2018-2019
5861217,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SINDHAWALI AHEER,59994.0,3165020037/FP/958486255822955422,2018-04-10,...,3.0,1.1432,0.7140,420.0,1.0,0.0,1.0,4.0,6.0,2018-2019
5861218,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SINDHAWALI AHEER,59994.0,3165020037/FP/958486255822890875,2018-05-22,...,3.0,0.7724,0.6300,360.0,1.0,0.0,1.0,4.0,6.0,2018-2019

In [190]:
mapped_df[mapped_df['gp_code'].notnull()]

,state,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,gp_code,work_code,work_started_date,...,finished_when,sanction_amount_in_lakh,total_amount_paid_since_inception_in_lakh,total_mandays,no_of_units,is_secure,work_status,master_work_category_name,work_category_name,work_start_fin_year
8,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ARSENA,42731.0,3120002005/RC/2658,2009-12-01,...,1.0,1.0347,0.6970,697.0,1.0,0.0,1.0,4.0,12.0,2008-2009
9,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ARSENA,42731.0,3120002005/RC/1,2008-12-20,...,3.0,2.4602,0.2500,608.0,1.0,0.0,1.0,4.0,12.0,2008-2009
10,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ARSENA,42731.0,3120002005/DP/1,2008-09-23,...,3.0,0.1068,0.0798,27.0,1.0,0.0,1.0,1.0,4.0,2008-2009
17,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BABROD,42733.0,3120002007/RC/1,2008-04-10,...,3.0,0.7106,0.2645,242.0,1.0,0.0,1.0,4.0,12.0,2008-2009
18,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BABROD,42733.0,3120002007/RC/2,2008-11-09,...,3.0,0.4504,0.1935,171.0,1.0,0.0,1.0,4.0,12.0,2008-2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5861210,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PILANA,48726.0,3165020028/FP/958486255822955295,2018-11-22,...,3.0,1.1431,0.9520,556.0,1.0,0.0,1.0,4.0,6.0,2018-2019
5861211,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PILANA,48726.0,3165/IC/958486255822846118,2018-12-31,...,3.0,2.2028,2.1945,1254.0,1.0,0.0,1.0,1.0,9.0,2018-2019
5861216,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SAIDBHAR,48731.0,3165020033/RC/958486255822944220,2018-06-26,...,3.0,0.2838,0.0315,18.0,1.0,0.0,1.0,4.0,12.0,2018-2019
5861217,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SINDHAWALI AHEER,59994.0,3165020037/FP/958486255822955422,2018-04-10,...,3.0,1.1432,0.7140,420.0,1.0,0.0,1.0,4.0,6.0,2018-2019
5861218,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SINDHAWALI AHEER,59994.0,3165020037/FP/958486255822890875,2018-05-22,...,3.0,0.7724,0.6300,360.0,1.0,0.0,1.0,4.0,6.0,2018-2019

In [191]:
mapped_df.to_csv(os.path.join(mapped_path, 'Uttar_Pradesh_mapped.csv'), index=False)