In [1]:
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [2]:
project_dir = str(Path().resolve().parents[2])
nrega_dir = str(Path().resolve().parents[1])
nrega_dir
# raw_folder = os.path.join(
#     os.path.join(os.path.join(project_dir, "data"), "raw"), "receipt_budget"
# )

'C:\\Users\\31442\\Documents\\codespace\\bipp-datasets\\projects\\nrega-impact'

In [12]:
lgd = pd.read_csv(os.path.join(nrega_dir, r"helper_files/ac_panchayat.csv"), encoding="iso-8859-1")
# renaming the concerned columns
# lgd = lgd.rename(columns={"stname": "state_name", "dtname": "district_name"})
# subsetting for necessary columns
lgd = lgd[["stname", "ST_CODE","dtname", "DT_CODE","gp_name","gp_code"]].drop_duplicates()
lgd.columns = ['state_name','state_code','district_name','district_code','gp_name','gp_code']
# uppercasing all names
# lgd["state_name_lower"] = lgd["state_name"].str.lower()
# lgd["district_name_lower"] = lgd["district_name"].str.lower()
# lgd["block_name"] = lgd["block_name"].str.upper()
lgd["gp_name_lower"] = lgd["gp_name"].str.lower()
# %%
# concatenating states, districts, blocks and panchayats

# # lgd["state_dist_panch"] = lgd["state_name_lower"] + "_" + lgd["district_name_lower"] + "_" + lgd["gp_name_lower"]
utr_lgd = lgd[lgd['state_name'] == 'UTTARAKHAND'].copy()
utr_lgd[['state_code','district_code']] = utr_lgd[['state_code','district_code']].astype(int)
utr_lgd

c:\Users\31442\Documents\codespace\bipp-datasets\projects\nrega-impact\.venv\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (7,27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,state_name,state_code,district_name,district_code,gp_name,gp_code,gp_name_lower
159335,UTTARAKHAND,5,Uttarkashi,1,Pokhariyal Gaon,259954,pokhariyal gaon
159336,UTTARAKHAND,5,Uttarkashi,1,GARHTHATI,27522,garhthati
159337,UTTARAKHAND,5,Uttarkashi,1,HULDIYANA,27528,huldiyana
159338,UTTARAKHAND,5,Uttarkashi,1,BARETH (GAJNA),27500,bareth (gajna)
159339,UTTARAKHAND,5,Uttarkashi,1,NEWGAON,27553,newgaon
...,...,...,...,...,...,...,...
167129,UTTARAKHAND,5,Udham Singh Nagar,12,UKRAULI,260374,ukrauli
167524,UTTARAKHAND,9,Hardwar,1,AMARPUR URF BEGAMPUR,267715,amarpur urf begampur
167530,UTTARAKHAND,9,Hardwar,1,AMARPUR SHEIKHPUR CHANDPUR,85411,amarpur sheikhpur chandpur
168250,UTTARAKHAND,9,Garhwal,3,Harsinghpur,260169,harsinghpur
225529,UTTARAKHAND,5,Pithoragarh,7,PANGALA,25314,pangala

In [68]:
der_lgd = pd.read_csv(os.path.join(nrega_dir, r"helper_files/St_Dt_Blk_Gp_LGD_Codes_20-5-21.csv")).dropna(subset=['gp_code'])
# # uppercasing all names
# der_lgd["state_name_lower"] = der_lgd["state_name"].str.lower()
# der_lgd["district_name_lower"] = der_lgd["district_name"].str.lower()
# der_lgd["block_name_lower"] = der_lgd["block_name"].str.lower()
der_lgd["gp_name_lower"] = der_lgd["gp_name"].str.lower().str.replace('rf ',';').str.replace('/',';')
der_lgd["gp_name_1"] = der_lgd["gp_name_lower"].str.lower().str.split(';').str[0].str.strip()
der_lgd["gp_name_2"] = der_lgd["gp_name_lower"].str.lower().str.split(';').str[1].str.strip()

# # concatenating states, districts, blocks and panchayats

# der_lgd["state_dist_panch"] = der_lgd["gp_name_lower"]
der_utr_lgd = der_lgd[der_lgd['state_name'] == 'UTTARAKHAND'].copy()
# up_lgd.drop(columns=['state_name','state_name_lower','district_name','district_name_lower','block_name','block_name_lower','gp_name','gp_name_lower'], inplace=True)
der_utr_lgd.drop(columns=['state_name','district_name','block_name','gp_name'], inplace=True)
der_utr_lgd[['state_code','district_code','block_code','gp_code']] = der_utr_lgd[['state_code','district_code','block_code','gp_code']].astype(int)
der_utr_lgd

,state_code,district_code,block_code,gp_code,gp_name_lower,gp_name_1,gp_name_2
196436,5,45,352,20604,alaie supyal,alaie supyal,NaN
196437,5,45,352,20605,baburiya nayal,baburiya nayal,NaN
196438,5,45,352,20606,baman tiladi,baman tiladi,NaN
196439,5,45,352,20607,bhaisiya chhana,bhaisiya chhana,NaN
196440,5,45,352,20608,bhetabariya,bhetabariya,NaN
...,...,...,...,...,...,...,...
204215,5,57,446,259993,raun,raun,NaN
204216,5,57,446,259995,dhundada,dhundada,NaN
204217,5,57,446,260239,saundari,saundari,NaN
204218,5,57,446,260240,bingadhera malla,bingadhera malla,NaN
204219,5,57,446,260430,suranukiseri,suranukiseri,NaN

In [14]:
curr_state = "UTTARAKHAND"
# print(der_up_lgd['gp_name_1'].nunique(), der_up_lgd['gp_name_2'].nunique())

In [15]:
files = [file for file in  Path(nrega_dir).glob("./data/processed/block_lgd_mapped/*.csv") if file.stem == curr_state]
files

[WindowsPath('C:/Users/31442/Documents/codespace/bipp-datasets/projects/nrega-impact/data/processed/block_lgd_mapped/UTTARAKHAND.csv')]

In [16]:
df = pd.concat(pd.read_csv(f) for f in files).reset_index(drop=True)
df

,state,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,work_code,work_started_date,work_physically_completed_date,finished_when,sanction_amount_in_lakh,total_amount_paid_since_inception_in_lakh,total_mandays,no_of_units,is_secure,work_status,master_work_category_name,work_category_name,work_start_fin_year
0,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,ALISUPYAL,3507008001/WC/4,2008-01-12,2009-03-14,3.0,0.9000,0.0250,514,1,0.0,1.0,1.0,15.0,2008-2009
1,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BABURIYA NAYAL,3507008002/WC/25,2009-01-02,2009-03-23,3.0,1.0000,0.0000,673,1,0.0,1.0,1.0,15.0,2008-2009
2,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAMANTILARI,3507008003/WC/1,2008-08-08,2009-07-01,3.0,1.0000,0.0250,765,1,0.0,1.0,1.0,15.0,2008-2009
3,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAUDA,3507008004/WC,2008-11-10,2008-11-15,3.0,1.0000,0.0155,1112,1,0.0,1.0,1.0,15.0,2008-2009
4,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BHAISIYACHHANA,3507008005/WC,2008-10-15,2009-01-28,3.0,1.0000,0.0151,1003,1,0.0,1.0,1.0,15.0,2008-2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337545,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,VISAR,3511007056/LD/2008052881,2019-06-14,2020-03-30,3.0,0.9718,0.6470,234,1,1.0,1.0,1.0,8.0,2019-2020
337546,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,VISAR,3511007056/LD/2008048795,2019-05-15,2020-02-20,3.0,1.0000,0.6452,224,1,0.0,2.0,1.0,8.0,2019-2020
337547,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,VISAR,3511007056/LD/2008054925,2019-11-16,2020-03-30,3.0,0.9967,0.3179,120,1,1.0,1.0,1.0,8.0,2019-2020
337548,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,VISAR,3511007056/LD/2008054709,2019-09-21,2020-09-05,3.0,0.9869,0.9429,356,1,1.0,1.0,1.0,8.0,2019-2020
337549,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,WASTE,3511007054/WH/2008043460,2019-01-04,2020-03-15,3.0,0.9753,0.5960,272,1,1.0,2.0,1.0,11.0,2019-2020

In [17]:
data_codes = df[['state','state_LGD_code','district','district_LGD_code','block_name','block_LGD_code','panchayat_name']].drop_duplicates().reset_index(drop=True)
# data_codes["state_name_lower"] = data_codes["state"].str.lower()
# data_codes["district_name_lower"] = data_codes["district"].str.lower()
# data_codes["block_name_lower"] = data_codes["block_name"].str.lower()
data_codes["gp_name_lower"] = data_codes["panchayat_name"].str.lower()
# concatenating states, districts, blocks and panchayats
# data_codes["state_dist_panch"] = data_codes["gp_name_lower"]
# data_codes.drop(columns=['state_name_lower','district_name_lower','gp_name_lower'], inplace=True)
data_codes

,state,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,gp_name_lower
0,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,ALISUPYAL,alisupyal
1,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BABURIYA NAYAL,baburiya nayal
2,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAMANTILARI,bamantilari
3,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAUDA,bauda
4,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BHAISIYACHHANA,bhaisiyachhana
...,...,...,...,...,...,...,...,...
7831,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Shiloli,shiloli
7832,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Silpaata,silpaata
7833,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Dadimkhola,dadimkhola
7834,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,DevlalGaon,devlalgaon
7835,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Sinchaura,sinchaura

In [19]:
merged_codes = data_codes.merge(der_utr_lgd[['state_code','district_code','block_code','gp_code','gp_name_lower']], 
                                        left_on=['block_LGD_code','gp_name_lower'], right_on=['block_code','gp_name_lower'], how='left')

merged_codes = merged_codes.merge(der_utr_lgd[['block_code','gp_code','gp_name_1']], 
                                    left_on=['block_LGD_code','gp_name_lower'], right_on=['block_code','gp_name_1'], how='left')
merged_codes['gp_code_x'] = merged_codes['gp_code_x'].fillna(merged_codes['gp_code_y'])
merged_codes = merged_codes.rename(columns={'gp_code_x':'gp_code'}).drop(['block_code_x','block_code_y','gp_code_y','gp_name_1'], axis=1)

merged_codes = merged_codes.merge(der_utr_lgd[['block_code','gp_code','gp_name_2']], 
                                    left_on=['block_LGD_code','gp_name_lower'], right_on=['block_code','gp_name_2'], how='left')
merged_codes['gp_code_x'] = merged_codes['gp_code_x'].fillna(merged_codes['gp_code_y'])
merged_codes = merged_codes.rename(columns={'gp_code_x':'gp_code'}).drop(['block_code','gp_code_y','gp_name_2','state_code','district_code'], axis=1)

# merged_codes = merged_codes.merge(der_up_lgd, left_on=['block_LGD_code','gp_name_lower'], right_on=['block_code','gp_name_2'], how='left')
merged_codes.rename(columns={'state_LGD_code':'state_code', 'district_LGD_code':'district_code','block_LGD_code':'block_code'}, inplace=True)
merged_codes

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,ALISUPYAL,alisupyal,NaN
1,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BABURIYA NAYAL,baburiya nayal,20605.0
2,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAMANTILARI,bamantilari,NaN
3,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAUDA,bauda,NaN
4,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BHAISIYACHHANA,bhaisiyachhana,NaN
...,...,...,...,...,...,...,...,...,...
7834,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Shiloli,shiloli,NaN
7835,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Silpaata,silpaata,NaN
7836,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Dadimkhola,dadimkhola,NaN
7837,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,DevlalGaon,devlalgaon,NaN
7838,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Sinchaura,sinchaura,260655.0

In [20]:
pending_codes = merged_codes[merged_codes['gp_code'].isna()].copy().reset_index(drop=True)
pending_codes

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,ALISUPYAL,alisupyal,NaN
1,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAMANTILARI,bamantilari,NaN
2,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAUDA,bauda,NaN
3,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BHAISIYACHHANA,bhaisiyachhana,NaN
4,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,DAHULNELI,dahulneli,NaN
...,...,...,...,...,...,...,...,...,...
4654,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Orhmatha,orhmatha,NaN
4655,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Shiloli,shiloli,NaN
4656,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Silpaata,silpaata,NaN
4657,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Dadimkhola,dadimkhola,NaN
4658,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,DevlalGaon,devlalgaon,NaN

In [21]:
mapped_codes_1 = merged_codes[merged_codes['gp_code'].notnull()].copy().reset_index(drop=True)
mapped_codes_1

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BABURIYA NAYAL,baburiya nayal,20605.0
1,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,CHHANI,chhani,20612.0
2,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,DALAKOT,dalakot,20613.0
3,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,DIGOLI,digoli,20618.0
4,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,DIYARI,diyari,20619.0
...,...,...,...,...,...,...,...,...,...
3175,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,PANDA,panda,25806.0
3176,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,PAUN,paun,25808.0
3177,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,SATGAL,satgal,25815.0
3178,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Malan,malan,260245.0
3179,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Sinchaura,sinchaura,260655.0

In [22]:
ma_lgd = pd.read_csv(os.path.join(nrega_dir, r"helper_files/uttrakhand_mission_antyodaya.csv"))
ma_lgd = ma_lgd[['district_name','district_code','block_code','gp_name_x','gp_code']].drop_duplicates().rename({'gp_name_x':'gp_name'}, axis=1)
ma_lgd[['district_code','block_code']] = ma_lgd[['district_code','block_code']].astype(int)
ma_lgd['gp_name_lower'] = ma_lgd['gp_name'].str.lower()
ma_lgd

,district_name,district_code,block_code,gp_name,gp_code,gp_name_lower
0,Almora,45,352,Alaie Supyal,20604,alaie supyal
1,Almora,45,352,Baburiya Nayal,20605,baburiya nayal
2,Almora,45,352,Baman Tiladi,20606,baman tiladi
3,Almora,45,352,Belwal Gaon,259856,belwal gaon
4,Almora,45,352,Bhaisiya Chhana,20607,bhaisiya chhana
...,...,...,...,...,...,...
7786,Uttar Kashi,57,443,Udalka,260219,udalka
7787,Uttar Kashi,57,445,Nyuri,293904,nyuri
7788,Uttar Kashi,57,445,Phuwan Gaon,293903,phuwan gaon
7789,Uttar Kashi,57,445,Sara,293902,sara
7790,Uttar Kashi,57,445,Sarnachak,293905,sarnachak

In [23]:
pending_merged = pending_codes.merge(ma_lgd, left_on=['block_code','gp_name_lower'], right_on=['block_code','gp_name_lower'], how='left')
# pending_merged = pending_merged[pending_merged['gp_code'].notnull()].copy()
pending_merged['gp_code_x'] = pending_merged['gp_code_x'].fillna(pending_merged['gp_code_y'])
pending_merged = pending_merged.rename(columns={'gp_code_x':'gp_code','district_code_x':'district_code'}).drop(['district_code_y','gp_code_y','district_name','gp_name'], axis=1)
pending_merged

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,ALISUPYAL,alisupyal,NaN
1,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAMANTILARI,bamantilari,NaN
2,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAUDA,bauda,NaN
3,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BHAISIYACHHANA,bhaisiyachhana,NaN
4,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,DAHULNELI,dahulneli,NaN
...,...,...,...,...,...,...,...,...,...
4654,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Orhmatha,orhmatha,NaN
4655,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Shiloli,shiloli,NaN
4656,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Silpaata,silpaata,NaN
4657,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Dadimkhola,dadimkhola,NaN
4658,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,DevlalGaon,devlalgaon,NaN

In [24]:
mapped_codes_2 = pending_merged[pending_merged['gp_code'].notnull()].copy()
mapped_codes_2['gp_code'] = mapped_codes_2['gp_code'].astype(int)
mapped_codes_2

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
2983,UTTARAKHAND,5,HARIDWAR,50,BAHADRABAD,385,SHIVDASPUR URF TELIWALA,shivdaspur urf teliwala,23342
3124,UTTARAKHAND,5,HARIDWAR,50,KHANPUR,387,RAGHUNATHPUR URF BALAWALI,raghunathpur urf balawali,23418
4416,UTTARAKHAND,5,PITHORAGARH,53,GANGOLIHAT,417,SERA URF BADOLI,sera urf badoli,25498

In [25]:
mapped_codes_1_2 = pd.concat([mapped_codes_1, mapped_codes_2]).reset_index(drop=True)
mapped_codes_1_2['gp_code'] = mapped_codes_1_2['gp_code'].astype(int)
mapped_codes_1_2

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BABURIYA NAYAL,baburiya nayal,20605
1,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,CHHANI,chhani,20612
2,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,DALAKOT,dalakot,20613
3,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,DIGOLI,digoli,20618
4,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,DIYARI,diyari,20619
...,...,...,...,...,...,...,...,...,...
3178,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Malan,malan,260245
3179,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Sinchaura,sinchaura,260655
3180,UTTARAKHAND,5,HARIDWAR,50,BAHADRABAD,385,SHIVDASPUR URF TELIWALA,shivdaspur urf teliwala,23342
3181,UTTARAKHAND,5,HARIDWAR,50,KHANPUR,387,RAGHUNATHPUR URF BALAWALI,raghunathpur urf balawali,23418
3182,UTTARAKHAND,5,PITHORAGARH,53,GANGOLIHAT,417,SERA URF BADOLI,sera urf badoli,25498

In [26]:
pending_2 = pending_merged[pending_merged['gp_code'].isna()].copy().reset_index(drop=True)
pending_2

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,ALISUPYAL,alisupyal,NaN
1,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAMANTILARI,bamantilari,NaN
2,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAUDA,bauda,NaN
3,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BHAISIYACHHANA,bhaisiyachhana,NaN
4,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,DAHULNELI,dahulneli,NaN
...,...,...,...,...,...,...,...,...,...
4651,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Orhmatha,orhmatha,NaN
4652,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Shiloli,shiloli,NaN
4653,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Silpaata,silpaata,NaN
4654,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Dadimkhola,dadimkhola,NaN
4655,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,DevlalGaon,devlalgaon,NaN

### Fuzzy Matching  Repeat untile you have a proper mapping file

In [27]:
import fuzzymatcher

In [28]:
# converting to pandas dataframes
pending2_gp = pending_2[['block_code','gp_name_lower']].drop_duplicates().reset_index(drop=True)
pending2_gp['index'] = pending2_gp.index
lgd_gp = ma_lgd[['block_code','gp_name_lower','gp_code']].drop_duplicates().reset_index(drop=True)
lgd_gp['index'] = lgd_gp.index
lgd_gp

      block_code    gp_name_lower  gp_code  index
0            352     alaie supyal    20604      0
1            352   baburiya nayal    20605      1
2            352     baman tiladi    20606      2
3            352      belwal gaon   259856      3
4            352  bhaisiya chhana    20607      4
...          ...              ...      ...    ...
7779         443           udalka   260219   7779
7780         445            nyuri   293904   7780
7781         445      phuwan gaon   293903   7781
7782         445             sara   293902   7782
7783         445        sarnachak   293905   7783

[7784 rows x 4 columns]

In [29]:

fuzzy_matched_1 = fuzzymatcher.fuzzy_left_join(pending2_gp, lgd_gp, left_on = ['block_code','gp_name_lower'], 
                                        right_on = ['block_code','gp_name_lower'],
                                        left_id_col='index',
                                        right_id_col='index')
fuzzy_matched_1

,best_match_score,__id_left,__id_right,block_code_left,gp_name_lower_left,index_left,block_code_right,gp_name_lower_right,gp_code,index_right
0,-0.149700,0,16,352,alisupyal,0,352,dungari,20621,16
50,-0.149700,1,16,352,bamantilari,1,352,dungari,20621,16
100,-0.149700,2,16,352,bauda,2,352,dungari,20621,16
150,-0.149700,3,16,352,bhaisiyachhana,3,352,dungari,20621,16
200,-0.149700,4,16,352,dahulneli,4,352,dungari,20621,16
...,...,...,...,...,...,...,...,...,...,...
207205,-0.150668,4651,5379,421,orhmatha,4651,421,jakh,25784,5379
207255,-0.150668,4652,5379,421,shiloli,4652,421,jakh,25784,5379
207305,-0.140634,4653,5379,421,silpaata,4653,421,jakh,25784,5379
207355,-0.150668,4654,5379,421,dadimkhola,4654,421,jakh,25784,5379
207405,-0.150668,4655,5379,421,devlalgaon,4655,421,jakh,25784,5379

In [32]:
fuzzy_matched_1.to_csv("utr_fuzzy_match.csv", index=False)

In [35]:
pd.set_option('display.max_rows', 100)
mapped_path = os.path.join(nrega_dir, r'data\processed\panchayat_mapped')
mapped_path

'C:\\Users\\31442\\Documents\\codespace\\bipp-datasets\\projects\\nrega-impact\\data\\processed\\panchayat_mapped'

In [36]:
filtered_1 =  fuzzy_matched_1.query("best_match_score >= 0.2565").sort_values( by=['best_match_score'], ascending=True).copy()
filtered_1.to_csv(os.path.join(mapped_path, 'fuzzy_mapped_1.csv'), index=False)
filtered_1
# .head(100)

,best_match_score,__id_left,__id_right,block_code_left,gp_name_lower_left,index_left,block_code_right,gp_name_lower_right,gp_code,index_right
184344,0.256578,4180,3962,407,bhati gaun,4180,403,bhati gaon,24420,3962
168059,0.256702,3796,4669,412,nand,3796,412,nand malla,25091,4669
173184,0.256716,3918,3779,401,bareth langur,3918,401,bareth,24237,3779
174143,0.256716,3943,3779,401,bareth dhangu,3943,401,bareth,24237,3779
168639,0.257360,3809,7601,412,thangar,3809,412,thangar akra,25108,7601
...,...,...,...,...,...,...,...,...,...,...
135680,0.767482,3004,2883,385,moh.begpur urf takabhari,3004,385,mohd. begpur urf takabhari,23321,2883
135989,0.784937,3017,3006,388,jawaharkhan jhinwarhedi,3017,388,jawaharkhan urf jhinwarhedi,23442,3006
84430,0.791710,1831,7258,442,thati gamari dichli,1831,442,thati gamri(dichli ),27450,7258
106414,0.853999,2312,7673,370,auth hanuman chatti beanakuli,2312,370,outh hanuman chatti benakuli,260250,7673
134866,0.899545,2978,2862,385,dhanpura urf padartha,2978,385,dhanpura urf padartha,23325,2862

In [76]:
filtered_1_corr = pd.read_csv(os.path.join(mapped_path, 'fuzzy_mapped_1_manually_corrected.csv'))
filtered_1_corr = pd.concat([filtered_1, filtered_1_corr])
filtered_1_corr.drop_duplicates()
filtered_1_corr

,best_match_score,__id_left,__id_right,block_code_left,gp_name_lower_left,index_left,block_code_right,gp_name_lower_right,gp_code,index_right
184344,0.256578,4180,3962,407,bhati gaun,4180,403,bhati gaon,24420,3962
168059,0.256702,3796,4669,412,nand,3796,412,nand malla,25091,4669
173184,0.256716,3918,3779,401,bareth langur,3918,401,bareth,24237,3779
174143,0.256716,3943,3779,401,bareth dhangu,3943,401,bareth,24237,3779
168639,0.257360,3809,7601,412,thangar,3809,412,thangar akra,25108,7601
...,...,...,...,...,...,...,...,...,...,...
1646,0.170961,20,45,352,salyudi,20,352,saludi,20647,45
1647,0.150594,10,23,352,kalaun,10,352,kalon,20626,23
1648,0.149733,7,16,352,dungri,7,352,dungari,20621,16
1649,0.072231,19,38,352,palyu,19,352,palyoun,20640,38
1650,0.072231,24,5,352,bhetabadiya,24,352,bhetabariya,20608,5

In [78]:
# merged[merged['block_code_left'] == merged['block_code_right']]
pending2_mapped = pending_2.merge(filtered_1_corr[['block_code_left','gp_name_lower_left','gp_code']], left_on=['block_code','gp_name_lower'], right_on=['block_code_left','gp_name_lower_left'], how='left')
pending2_mapped['gp_code_x'] = pending2_mapped['gp_code_x'].fillna(pending2_mapped['gp_code_y'])
pending2_mapped = pending2_mapped.rename(columns={'gp_code_x':'gp_code'}).drop(['block_code_left','gp_code_y','gp_name_lower_left'], axis=1)
# .dropna(subset=['gp_code'])
# pending2_mapped['gp_code'] = pending2_mapped['gp_code'].astype(int)
pending2_mapped

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,ALISUPYAL,alisupyal,NaN
1,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAMANTILARI,bamantilari,NaN
2,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAUDA,bauda,NaN
3,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BHAISIYACHHANA,bhaisiyachhana,NaN
4,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,DAHULNELI,dahulneli,NaN
...,...,...,...,...,...,...,...,...,...
4651,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Orhmatha,orhmatha,NaN
4652,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Shiloli,shiloli,NaN
4653,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Silpaata,silpaata,NaN
4654,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Dadimkhola,dadimkhola,NaN
4655,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,DevlalGaon,devlalgaon,NaN

In [80]:
pending3 = pending2_mapped[pending2_mapped['gp_code'].isna()].copy().drop('gp_code',axis=1).reset_index(drop=True)
pending3_gp = pending3[['block_code','gp_name_lower']].drop_duplicates()
pending3_gp['index'] = pending3_gp.index
pending3_gp

      block_code   gp_name_lower  index
0            352       alisupyal      0
1            352     bamantilari      1
2            352           bauda      2
3            352  bhaisiyachhana      3
4            352       dahulneli      4
...          ...             ...    ...
2538         421        orhmatha   2538
2539         421         shiloli   2539
2540         421        silpaata   2540
2541         421      dadimkhola   2541
2542         421      devlalgaon   2542

[2543 rows x 3 columns]

In [81]:
pending3_mapped = fuzzymatcher.fuzzy_left_join(pending3_gp, lgd_gp, left_on = ['gp_name_lower'], 
                                        right_on = ['gp_name_lower'],
                                        left_id_col='index',
                                        right_id_col='index')
pending3_mapped

,best_match_score,__id_left,__id_right,block_code_left,gp_name_lower_left,index_left,block_code_right,gp_name_lower_right,gp_code,index_right
0,NaN,0,NaN,352,alisupyal,0,NaN,NaN,NaN,NaN
1,NaN,1,NaN,352,bamantilari,1,NaN,NaN,NaN,NaN
2,NaN,2,NaN,352,bauda,2,NaN,NaN,NaN,NaN
3,NaN,3,NaN,352,bhaisiyachhana,3,NaN,NaN,NaN,NaN
4,NaN,4,NaN,352,dahulneli,4,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6940,NaN,2538,NaN,421,orhmatha,2538,NaN,NaN,NaN,NaN
6941,NaN,2539,NaN,421,shiloli,2539,NaN,NaN,NaN,NaN
6942,NaN,2540,NaN,421,silpaata,2540,NaN,NaN,NaN,NaN
6943,NaN,2541,NaN,421,dadimkhola,2541,NaN,NaN,NaN,NaN
6944,NaN,2542,NaN,421,devlalgaon,2542,NaN,NaN,NaN,NaN

In [91]:
filtered_2 =  pending3_mapped.query("best_match_score >= 0.22").sort_values( by=['best_match_score'], ascending=True).copy()
filtered_2

,best_match_score,__id_left,__id_right,block_code_left,gp_name_lower_left,index_left,block_code_right,gp_name_lower_right,gp_code,index_right
2874,0.220452,1090,7201.0,443,bharkot,1090,442.0,bharkot,27441.0,7201.0
306,0.224250,115,1299.0,353,rikhari,115,363.0,rikhari,21855.0,1299.0
6529,0.224250,2242,3160.0,406,dova,2242,391.0,dova,23602.0,3160.0
5447,0.224250,1955,3160.0,408,dova,1955,391.0,dova,23602.0,3160.0
269,0.225775,101,5004.0,353,chauda,101,417.0,chauda,243156.0,5004.0
...,...,...,...,...,...,...,...,...,...,...
6861,0.332308,2461,4342.0,420,girgaon,2461,408.0,girgaon,24780.0,4342.0
2864,0.336244,1084,570.0,441,sainj,1084,357.0,sainj,21161.0,570.0
5841,0.343048,2018,1251.0,411,kucholi,2018,363.0,kucholi,21809.0,1251.0
6285,0.356313,2180,4428.0,403,sileth,2180,409.0,sileth,24867.0,4428.0
3226,0.365188,1253,7167.0,365,raithal,1253,441.0,raithal,27411.0,7167.0

In [57]:
# filtered_2[filtered_2['gp_code'].notnull()]

In [92]:
pending3_merged = pending3.merge(filtered_2[['block_code_left','gp_name_lower_left','gp_code']].drop_duplicates(keep='first'), 
                        left_on=['block_code','gp_name_lower'], right_on=['block_code_left','gp_name_lower_left'], how='left')
pending3_merged = pending3_merged[['state','state_code','district','district_code','block_name','block_code','panchayat_name','gp_name_lower','gp_code']].dropna(subset=['gp_code'])
pending3_merged['gp_code'] = pending3_merged['gp_code'].astype(int)
pending3_merged

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
13,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,PABHYA,pabhya,25253
43,UTTARAKHAND,5,ALMORA,45,TAKULA,361,THAPALA,thapala,20746
81,UTTARAKHAND,5,ALMORA,45,TARIKHET,362,MAJGAON,majgaon,22041
101,UTTARAKHAND,5,ALMORA,45,BHIKIYASAIN,353,CHAUDA,chauda,243156
115,UTTARAKHAND,5,ALMORA,45,BHIKIYASAIN,353,RIKHARI,rikhari,21855
...,...,...,...,...,...,...,...,...,...
2348,UTTARAKHAND,5,PITHORAGARH,53,GANGOLIHAT,417,BHANDARIGAON,bhandarigaon,21739
2377,UTTARAKHAND,5,PITHORAGARH,53,GANGOLIHAT,417,NAKOTE,nakote,20926
2428,UTTARAKHAND,5,PITHORAGARH,53,MUNAKOT,419,TARIGAON,tarigaon,25825
2461,UTTARAKHAND,5,PITHORAGARH,53,MUNSYARI,420,GIRGAON,girgaon,24780
2513,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,NISNI,nisni,27722

In [97]:
filtered_1_corr.columns
# mapped_codes_1_2.columns

Index(['best_match_score', '__id_left', '__id_right', 'block_code_left',
       'gp_name_lower_left', 'index_left', 'block_code_right',
       'gp_name_lower_right', 'gp_code', 'index_right'],
      dtype='object')

In [98]:
mapped_codes_1_2.columns

Index(['state', 'state_code', 'district', 'district_code', 'block_name',
       'block_code', 'panchayat_name', 'gp_name_lower', 'gp_code'],
      dtype='object')

In [99]:
mapped_codes_1_2_3 = pd.concat([mapped_codes_1_2, pending3_merged, pending2_mapped]).drop_duplicates().reset_index(drop=True)
mapped_codes_1_2_3['gp_name_lower'] = mapped_codes_1_2_3['panchayat_name'].str.lower()
mapped_codes_1_2_3

,state,state_code,district,district_code,block_name,block_code,panchayat_name,gp_name_lower,gp_code
0,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BABURIYA NAYAL,baburiya nayal,20605.0
1,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,CHHANI,chhani,20612.0
2,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,DALAKOT,dalakot,20613.0
3,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,DIGOLI,digoli,20618.0
4,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,DIYARI,diyari,20619.0
...,...,...,...,...,...,...,...,...,...
7954,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Orhmatha,orhmatha,NaN
7955,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Shiloli,shiloli,NaN
7956,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Silpaata,silpaata,NaN
7957,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,Dadimkhola,dadimkhola,NaN
7958,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,DevlalGaon,devlalgaon,NaN

In [100]:
df['gp_name_lower'] = df['panchayat_name'].str.lower()
df

,state,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,work_code,work_started_date,work_physically_completed_date,...,sanction_amount_in_lakh,total_amount_paid_since_inception_in_lakh,total_mandays,no_of_units,is_secure,work_status,master_work_category_name,work_category_name,work_start_fin_year,gp_name_lower
0,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,ALISUPYAL,3507008001/WC/4,2008-01-12,2009-03-14,...,0.9000,0.0250,514,1,0.0,1.0,1.0,15.0,2008-2009,alisupyal
1,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BABURIYA NAYAL,3507008002/WC/25,2009-01-02,2009-03-23,...,1.0000,0.0000,673,1,0.0,1.0,1.0,15.0,2008-2009,baburiya nayal
2,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAMANTILARI,3507008003/WC/1,2008-08-08,2009-07-01,...,1.0000,0.0250,765,1,0.0,1.0,1.0,15.0,2008-2009,bamantilari
3,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAUDA,3507008004/WC,2008-11-10,2008-11-15,...,1.0000,0.0155,1112,1,0.0,1.0,1.0,15.0,2008-2009,bauda
4,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BHAISIYACHHANA,3507008005/WC,2008-10-15,2009-01-28,...,1.0000,0.0151,1003,1,0.0,1.0,1.0,15.0,2008-2009,bhaisiyachhana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337545,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,VISAR,3511007056/LD/2008052881,2019-06-14,2020-03-30,...,0.9718,0.6470,234,1,1.0,1.0,1.0,8.0,2019-2020,visar
337546,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,VISAR,3511007056/LD/2008048795,2019-05-15,2020-02-20,...,1.0000,0.6452,224,1,0.0,2.0,1.0,8.0,2019-2020,visar
337547,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,VISAR,3511007056/LD/2008054925,2019-11-16,2020-03-30,...,0.9967,0.3179,120,1,1.0,1.0,1.0,8.0,2019-2020,visar
337548,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,VISAR,3511007056/LD/2008054709,2019-09-21,2020-09-05,...,0.9869,0.9429,356,1,1.0,1.0,1.0,8.0,2019-2020,visar
337549,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,WASTE,3511007054/WH/2008043460,2019-01-04,2020-03-15,...,0.9753,0.5960,272,1,1.0,2.0,1.0,11.0,2019-2020,waste

In [101]:
mapped_df = df.merge(mapped_codes_1_2_3[['block_code','gp_name_lower','gp_code']], left_on=['block_LGD_code','gp_name_lower'],
                                right_on=['block_code','gp_name_lower'], how='left')
mapped_df = mapped_df.drop(['gp_name_lower','block_code'], axis=1)
gp_code_column = mapped_df.pop('gp_code')
mapped_df.insert(7, 'gp_code', gp_code_column)
mapped_df

,state,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,gp_code,work_code,work_started_date,...,finished_when,sanction_amount_in_lakh,total_amount_paid_since_inception_in_lakh,total_mandays,no_of_units,is_secure,work_status,master_work_category_name,work_category_name,work_start_fin_year
0,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,ALISUPYAL,NaN,3507008001/WC/4,2008-01-12,...,3.0,0.9000,0.0250,514,1,0.0,1.0,1.0,15.0,2008-2009
1,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BABURIYA NAYAL,20605.0,3507008002/WC/25,2009-01-02,...,3.0,1.0000,0.0000,673,1,0.0,1.0,1.0,15.0,2008-2009
2,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAMANTILARI,NaN,3507008003/WC/1,2008-08-08,...,3.0,1.0000,0.0250,765,1,0.0,1.0,1.0,15.0,2008-2009
3,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BAUDA,NaN,3507008004/WC,2008-11-10,...,3.0,1.0000,0.0155,1112,1,0.0,1.0,1.0,15.0,2008-2009
4,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BHAISIYACHHANA,NaN,3507008005/WC,2008-10-15,...,3.0,1.0000,0.0151,1003,1,0.0,1.0,1.0,15.0,2008-2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341803,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,VISAR,NaN,3511007056/LD/2008052881,2019-06-14,...,3.0,0.9718,0.6470,234,1,1.0,1.0,1.0,8.0,2019-2020
341804,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,VISAR,NaN,3511007056/LD/2008048795,2019-05-15,...,3.0,1.0000,0.6452,224,1,0.0,2.0,1.0,8.0,2019-2020
341805,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,VISAR,NaN,3511007056/LD/2008054925,2019-11-16,...,3.0,0.9967,0.3179,120,1,1.0,1.0,1.0,8.0,2019-2020
341806,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,VISAR,NaN,3511007056/LD/2008054709,2019-09-21,...,3.0,0.9869,0.9429,356,1,1.0,1.0,1.0,8.0,2019-2020
341807,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,WASTE,NaN,3511007054/WH/2008043460,2019-01-04,...,3.0,0.9753,0.5960,272,1,1.0,2.0,1.0,11.0,2019-2020

In [102]:
mapped_df[mapped_df['gp_code'].notnull()]

,state,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,gp_code,work_code,work_started_date,...,finished_when,sanction_amount_in_lakh,total_amount_paid_since_inception_in_lakh,total_mandays,no_of_units,is_secure,work_status,master_work_category_name,work_category_name,work_start_fin_year
1,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,BABURIYA NAYAL,20605.0,3507008002/WC/25,2009-01-02,...,3.0,1.0000,0.0000,673,1,0.0,1.0,1.0,15.0,2008-2009
5,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,CHHANI,20612.0,3507008009/WC/31,2009-02-15,...,3.0,1.0000,0.0100,921,1,0.0,1.0,1.0,15.0,2008-2009
6,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,CHHANI,20612.0,3507008009/WC,2008-10-18,...,3.0,1.0000,0.0100,882,1,0.0,1.0,1.0,15.0,2008-2009
8,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,DALAKOT,20613.0,3507008011/WC/54,2008-06-25,...,3.0,0.9000,0.0000,536,1,0.0,1.0,1.0,15.0,2008-2009
10,UTTARAKHAND,5,ALMORA,45,BHAISIYA CHHANA,352,DIGOLI,20618.0,3507008014/WC/34,2008-12-15,...,3.0,1.0000,0.0000,753,1,0.0,1.0,1.0,15.0,2008-2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341773,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,TAKARI,25823.0,3511007025/IF/2008039310,2019-05-24,...,3.0,0.4000,0.3998,132,1,0.0,1.0,2.0,16.0,2019-2020
341774,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,TALLISAR,25824.0,3511007030/LD/2008038458,2019-01-04,...,3.0,1.0000,0.9791,370,1,0.0,1.0,1.0,8.0,2019-2020
341775,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,TALLISAR,25824.0,3511007030/FP/2008033280,2019-05-29,...,1.0,1.0000,0.9881,372,1,0.0,1.0,4.0,6.0,2019-2020
341776,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,TARIGAON,25825.0,3511007029/LD/2008055001,2019-01-04,...,3.0,0.9869,0.9855,332,1,1.0,1.0,1.0,8.0,2019-2020
341782,UTTARAKHAND,5,PITHORAGARH,53,PITHORAGARH,421,TILTAR,25827.0,3511007031/LD/2008057923,2019-01-04,...,3.0,0.9725,0.9644,324,1,1.0,1.0,1.0,8.0,2019-2020

In [67]:
mapped_df.to_csv(os.path.join(mapped_path, 'Uttarakhand_mapped.csv'), index=False)

# Process to map AC's to GP's begin

<!-- PROCESSS TO MAP AC'S WITH GP'S Begin -->

In [112]:
ac_mapping = pd.read_csv(os.path.join(nrega_dir, r"helper_files/ac_panchayat.csv"), encoding="iso-8859-1")
print(ac_mapping.shape)
# renaming the concerned columns
# lgd = lgd.rename(columns={"stname": "state_name", "dtname": "district_name"})
# subsetting for necessary columns
ac_mapping = ac_mapping[["OBJECTID_1","stname", "ST_CODE","dtname", "DT_CODE","gp_name","gp_code", 'AC_NO', 'AC_NAME',
       'PC_NO', 'PC_NAME', 'PC_ID']].drop_duplicates()

print(ac_mapping.shape)
ac_mapping.columns = ['object_id','state_name','state_code','district_name','district_code','gp_name','gp_code', 'ac_no', 'ac_name','pc_no', 'pc_name','pc_id']
# lowercasing all names
ac_mapping["state_name_lower"] = ac_mapping["state_name"].str.lower()
ac_mapping["district_name_lower"] = ac_mapping["district_name"].str.lower().str.strip()
# ac_mapping["block_name"] = ac_mapping["block_name"].str.upper()
ac_mapping["gp_name_lower"] = ac_mapping["gp_name"].str.lower().str.strip()
# 
# # concatenating states, districts, blocks and panchayats

ac_mapping["dist_panch"] = ac_mapping["district_name_lower"] + "_" + ac_mapping["gp_name_lower"]
utr_ac_map = ac_mapping[ac_mapping['state_name'] == 'UTTARAKHAND'].copy()
utr_ac_map[['state_code','district_code']] = utr_ac_map[['state_code','district_code']].astype(int)
utr_ac_map

c:\Users\31442\Documents\codespace\bipp-datasets\projects\nrega-impact\.venv\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (7,27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(225567, 30)
(225567, 12)

,object_id,state_name,state_code,district_name,district_code,gp_name,gp_code,ac_no,ac_name,pc_no,pc_name,pc_id,state_name_lower,district_name_lower,gp_name_lower,dist_panch
159335,211096,UTTARAKHAND,5,Uttarkashi,1,Pokhariyal Gaon,259954,3.0,Gangotri,1.0,TEHRI GARHWAL,501.0,uttarakhand,uttarkashi,pokhariyal gaon,uttarkashi_pokhariyal gaon
159336,211115,UTTARAKHAND,5,Uttarkashi,1,GARHTHATI,27522,3.0,Gangotri,1.0,TEHRI GARHWAL,501.0,uttarakhand,uttarkashi,garhthati,uttarkashi_garhthati
159337,211121,UTTARAKHAND,5,Uttarkashi,1,HULDIYANA,27528,3.0,Gangotri,1.0,TEHRI GARHWAL,501.0,uttarakhand,uttarkashi,huldiyana,uttarkashi_huldiyana
159338,211156,UTTARAKHAND,5,Uttarkashi,1,BARETH (GAJNA),27500,3.0,Gangotri,1.0,TEHRI GARHWAL,501.0,uttarakhand,uttarkashi,bareth (gajna),uttarkashi_bareth (gajna)
159339,211175,UTTARAKHAND,5,Uttarkashi,1,NEWGAON,27553,3.0,Gangotri,1.0,TEHRI GARHWAL,501.0,uttarakhand,uttarkashi,newgaon,uttarkashi_newgaon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167129,195586,UTTARAKHAND,5,Udham Singh Nagar,12,UKRAULI,260374,69.0,Nanak Matta (ST,4.0,NAINITAL-UDHAMSINGH NAG,504.0,uttarakhand,udham singh nagar,ukrauli,udham singh nagar_ukrauli
167524,205184,UTTARAKHAND,9,Hardwar,1,AMARPUR URF BEGAMPUR,267715,4.0,Saharanpur,1.0,SAHARANPUR,901.0,uttarakhand,hardwar,amarpur urf begampur,hardwar_amarpur urf begampur
167530,205265,UTTARAKHAND,9,Hardwar,1,AMARPUR SHEIKHPUR CHANDPUR,85411,4.0,Saharanpur,1.0,SAHARANPUR,901.0,uttarakhand,hardwar,amarpur sheikhpur chandpur,hardwar_amarpur sheikhpur chandpur
168250,201913,UTTARAKHAND,9,Garhwal,3,Harsinghpur,260169,19.0,Barhapur,6.0,MORADABAD,906.0,uttarakhand,garhwal,harsinghpur,garhwal_harsinghpur
225529,204662,UTTARAKHAND,5,Pithoragarh,7,PANGALA,25314,44.0,Pithoragarh,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,pangala,pithoragarh_pangala

## uttarakhand NREGA Data

In [123]:
utr_nrega = mapped_df.copy()
nrega_codes = utr_nrega[['state_LGD_code', 'district', 'district_LGD_code',
       'block_name', 'block_LGD_code', 'panchayat_name', 'gp_code']].drop_duplicates().reset_index(drop =True)
nrega_codes

,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,gp_code
0,5,ALMORA,45,BHAISIYA CHHANA,352,ALISUPYAL,NaN
1,5,ALMORA,45,BHAISIYA CHHANA,352,BABURIYA NAYAL,20605.0
2,5,ALMORA,45,BHAISIYA CHHANA,352,BAMANTILARI,NaN
3,5,ALMORA,45,BHAISIYA CHHANA,352,BAUDA,NaN
4,5,ALMORA,45,BHAISIYA CHHANA,352,BHAISIYACHHANA,NaN
...,...,...,...,...,...,...,...
7954,5,PITHORAGARH,53,PITHORAGARH,421,Shiloli,NaN
7955,5,PITHORAGARH,53,PITHORAGARH,421,Silpaata,NaN
7956,5,PITHORAGARH,53,PITHORAGARH,421,Dadimkhola,NaN
7957,5,PITHORAGARH,53,PITHORAGARH,421,DevlalGaon,NaN
7958,5,PITHORAGARH,53,PITHORAGARH,421,Sinchaura,260655.0

In [124]:
# initial mapping with gp code
merge = pd.merge(
    right=utr_ac_map, left=nrega_codes, how="left", right_on="gp_code", left_on="gp_code"
)

In [222]:
# getting the not matched values in the merge
df_unmatch = merge[merge.gp_code.isnull()].reset_index(drop=True, inplace=False)
# df_unmatch.columns

# getting the matched values
utr_mapped_1 = merge[merge.gp_code.notnull()]
utr_mapped_1 = utr_mapped_1.drop(['dist_panch'], axis=1)
utr_mapped_1

,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,gp_code,object_id,state_name,state_code,...,district_code,gp_name,ac_no,ac_name,pc_no,pc_name,pc_id,state_name_lower,district_name_lower,gp_name_lower
1,5,ALMORA,45,BHAISIYA CHHANA,352,BABURIYA NAYAL,20605.0,201466.0,UTTARAKHAND,5.0,...,9.0,BABURIYA NAYAL,52.0,Almora,3.0,ALMORA (SC),503.0,uttarakhand,almora,baburiya nayal
5,5,ALMORA,45,BHAISIYA CHHANA,352,CHHANI,20612.0,200962.0,UTTARAKHAND,5.0,...,9.0,CHHANI,52.0,Almora,3.0,ALMORA (SC),503.0,uttarakhand,almora,chhani
7,5,ALMORA,45,BHAISIYA CHHANA,352,DALAKOT,20613.0,200524.0,UTTARAKHAND,5.0,...,9.0,DALAKOT,52.0,Almora,3.0,ALMORA (SC),503.0,uttarakhand,almora,dalakot
9,5,ALMORA,45,BHAISIYA CHHANA,352,DIGOLI,20618.0,200941.0,UTTARAKHAND,5.0,...,9.0,DIGOLI,52.0,Almora,3.0,ALMORA (SC),503.0,uttarakhand,almora,digoli
10,5,ALMORA,45,BHAISIYA CHHANA,352,DIYARI,20619.0,201131.0,UTTARAKHAND,5.0,...,9.0,DIYARI,52.0,Almora,3.0,ALMORA (SC),503.0,uttarakhand,almora,diyari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7949,5,PITHORAGARH,53,PITHORAGARH,421,SATGAL,25815.0,200957.0,UTTARAKHAND,5.0,...,7.0,SATGAL,44.0,Pithoragarh,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,satgal
7953,5,PITHORAGARH,53,PITHORAGARH,421,BUKSIL,243205.0,200628.0,UTTARAKHAND,5.0,...,7.0,BAKSIL,44.0,Pithoragarh,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,baksil
7954,5,PITHORAGARH,53,PITHORAGARH,421,Badauli,260248.0,200202.0,UTTARAKHAND,5.0,...,7.0,Badoli,44.0,Pithoragarh,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,badoli
7956,5,PITHORAGARH,53,PITHORAGARH,421,Malan,260245.0,201046.0,UTTARAKHAND,5.0,...,7.0,Malan,44.0,Pithoragarh,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,malan
7963,5,PITHORAGARH,53,PITHORAGARH,421,Sinchaura,260655.0,200517.0,UTTARAKHAND,5.0,...,7.0,SINCHAURA,44.0,Pithoragarh,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,sinchaura

In [231]:
df_unmatch = df_unmatch.iloc[:,:6].drop_duplicates()
df_unmatch['dist_panch'] = df_unmatch['district'].str.lower().str.strip() + "_" + df_unmatch['panchayat_name'].str.lower().str.strip()
df_unmatch

,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,dist_panch
0,5,ALMORA,45,BHAISIYA CHHANA,352,ALISUPYAL,almora_alisupyal
1,5,ALMORA,45,BHAISIYA CHHANA,352,BAMANTILARI,almora_bamantilari
2,5,ALMORA,45,BHAISIYA CHHANA,352,BAUDA,almora_bauda
3,5,ALMORA,45,BHAISIYA CHHANA,352,BHAISIYACHHANA,almora_bhaisiyachhana
4,5,ALMORA,45,BHAISIYA CHHANA,352,DAHULNELI,almora_dahulneli
...,...,...,...,...,...,...,...
2538,5,PITHORAGARH,53,PITHORAGARH,421,Orhmatha,pithoragarh_orhmatha
2539,5,PITHORAGARH,53,PITHORAGARH,421,Shiloli,pithoragarh_shiloli
2540,5,PITHORAGARH,53,PITHORAGARH,421,Silpaata,pithoragarh_silpaata
2541,5,PITHORAGARH,53,PITHORAGARH,421,Dadimkhola,pithoragarh_dadimkhola
2542,5,PITHORAGARH,53,PITHORAGARH,421,DevlalGaon,pithoragarh_devlalgaon

Fuzzymatch on district_panchayat names in both files

In [178]:
fuzzy_ac_1 = fuzzymatcher.fuzzy_left_join(
    df_left=df_unmatch,
    df_right=utr_ac_map,
    left_on='dist_panch',
    right_on='dist_panch'
)
fuzzy_ac_1

,best_match_score,__id_left,__id_right,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,dist_panch_left,...,gp_code,ac_no,ac_name,pc_no,pc_name,pc_id,state_name_lower,district_name_lower,gp_name_lower,dist_panch_right
0,NaN,0_left,None,5,ALMORA,45,BHAISIYA CHHANA,352,ALISUPYAL,almora_alisupyal,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1_left,None,5,ALMORA,45,BHAISIYA CHHANA,352,BAMANTILARI,almora_bamantilari,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2_left,None,5,ALMORA,45,BHAISIYA CHHANA,352,BAUDA,almora_bauda,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3_left,None,5,ALMORA,45,BHAISIYA CHHANA,352,BHAISIYACHHANA,almora_bhaisiyachhana,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,4_left,None,5,ALMORA,45,BHAISIYA CHHANA,352,DAHULNELI,almora_dahulneli,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30647,NaN,2538_left,None,5,PITHORAGARH,53,PITHORAGARH,421,Orhmatha,pithoragarh_orhmatha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30648,NaN,2539_left,None,5,PITHORAGARH,53,PITHORAGARH,421,Shiloli,pithoragarh_shiloli,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30649,NaN,2540_left,None,5,PITHORAGARH,53,PITHORAGARH,421,Silpaata,pithoragarh_silpaata,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30650,NaN,2541_left,None,5,PITHORAGARH,53,PITHORAGARH,421,Dadimkhola,pithoragarh_dadimkhola,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30651,NaN,2542_left,None,5,PITHORAGARH,53,PITHORAGARH,421,DevlalGaon,pithoragarh_devlalgaon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [179]:
fuzzy_ac_match1 = fuzzy_ac_1.query("best_match_score >= 0.18").sort_values( by=['best_match_score'], ascending=True).copy()
fuzzy_ac_match1.to_csv(mapped_path + "/utr_ac_fuzzy_matched1.csv", index=False)

In [182]:
fuzzy_ac_unmatch = fuzzy_ac_1.query("best_match_score <= 0.18").sort_values( by=['best_match_score'], ascending=True).copy()
fuzzy_ac_unmatch.to_csv(mapped_path + "/utr_ac_fuzzy_manual.csv", index=False)

In [190]:
fuzzy_ac_match2 = pd.read_csv(mapped_path + "/utr_ac_fuzzy_manual.csv")
fuzzy_ac_match2.shape
# fuzzy_ac_match1

(85, 26)

In [223]:
fuzzy_mapped_1_2 = pd.concat([fuzzy_ac_match1, fuzzy_ac_match2])
fuzzy_mapped_1_2 = fuzzy_mapped_1_2.drop(['best_match_score', '__id_left', '__id_right', 'dist_panch_left','dist_panch_right'], axis=1)
fuzzy_mapped_1_2

,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,object_id,state_name,state_code,district_name,...,gp_name,gp_code,ac_no,ac_name,pc_no,pc_name,pc_id,state_name_lower,district_name_lower,gp_name_lower
29050,5,PAURI GARHWAL,52,BIRONKHAL,399,Thapla,204860.0,UTTARAKHAND,5.0,Garhwal,...,THAPLA,24129.0,38.0,Srinagar,2.0,GARHWAL,502.0,uttarakhand,garhwal,thapla
13876,5,TEHRI GARHWAL,55,JAUNPUR,429,Kimoi,209484.0,UTTARAKHAND,5.0,Tehri Garhwal,...,CHAMI,26176.0,9.0,Ghanshali (SC),1.0,TEHRI GARHWAL,501.0,uttarakhand,tehri garhwal,chami
14577,5,TEHRI GARHWAL,55,KIRTINAGAR,430,PANDULA,209212.0,UTTARAKHAND,5.0,Tehri Garhwal,...,PUNDOLI,26281.0,9.0,Ghanshali (SC),1.0,TEHRI GARHWAL,501.0,uttarakhand,tehri garhwal,pundoli
4461,5,TEHRI GARHWAL,55,BHILANGNA,425,SRIKOT GOAN,210349.0,UTTARAKHAND,5.0,Tehri Garhwal,...,srikot,259898.0,9.0,Ghanshali (SC),1.0,TEHRI GARHWAL,501.0,uttarakhand,tehri garhwal,srikot
5456,5,TEHRI GARHWAL,55,BHILANGNA,425,BONR,209891.0,UTTARAKHAND,5.0,Tehri Garhwal,...,Baunr,262049.0,9.0,Ghanshali (SC),1.0,TEHRI GARHWAL,501.0,uttarakhand,tehri garhwal,baunr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,5,TEHRI GARHWAL,55,BHILANGNA,425,KOTI BUDHA KED,211431.0,UTTARAKHAND,5.0,Tehri Garhwal,...,KOTI,262951.0,14.0,Dhanolti,1.0,TEHRI GARHWAL,501.0,uttarakhand,tehri garhwal,koti
81,5,PAURI GARHWAL,52,NAINIDANDA,406,Chaid Manjkhola,206298.0,UTTARAKHAND,5.0,Garhwal,...,CHAID MALLA,24696.0,37.0,Pauri (SC),2.0,GARHWAL,502.0,uttarakhand,garhwal,chaid malla
82,5,PAURI GARHWAL,52,DUGGADA,400,Seela,202893.0,UTTARAKHAND,5.0,Garhwal,...,SEELA MALLI,24113.0,40.0,Lansdowne,2.0,GARHWAL,502.0,uttarakhand,garhwal,seela malli
83,5,PAURI GARHWAL,52,YAMKESHWAR,412,Seela,202893.0,UTTARAKHAND,5.0,Garhwal,...,SEELA MALLI,24113.0,40.0,Lansdowne,2.0,GARHWAL,502.0,uttarakhand,garhwal,seela malli
84,5,NAINITAL,51,HALDWANI,394,Kishanpur skuliya,196617.0,UTTARAKHAND,5.0,Nainital,...,KISHANPUR RAIKWAL,23793.0,56.0,Lalkuwa,4.0,NAINITAL-UDHAMSINGH NAG,504.0,uttarakhand,nainital,kishanpur raikwal

## fuzzy match with only gpnames

In [269]:
utr_total_match = pd.concat([utr_mapped_1, fuzzy_mapped_1_2]).drop_duplicates()
nrega_only_gps = utr_total_match[utr_total_match.object_id.isnull()]
utr_total_match = utr_total_match[utr_total_match.object_id.notnull()]
utr_total_match[utr_total_match.gp_code.isna()]
# utr_ac_map.columns
# # fuzzy_mapped_1_2.columns
# fuzzy_mapped_1_2.iloc[:,10:].rename(columns={'dist_panch_right':'dist_panch'})

Empty DataFrame
Columns: [state_LGD_code, district, district_LGD_code, block_name, block_LGD_code, panchayat_name, gp_code, object_id, state_name, state_code, district_name, district_code, gp_name, ac_no, ac_name, pc_no, pc_name, pc_id, state_name_lower, district_name_lower, gp_name_lower]
Index: []

[0 rows x 21 columns]

Index(['best_match_score', '__id_left', '__id_right', 'state_LGD_code',
       'district', 'district_LGD_code', 'block_name', 'block_LGD_code',
       'panchayat_name', 'dist_panch_left', 'object_id', 'state_name',
       'state_code', 'district_name', 'district_code', 'gp_name', 'gp_code',
       'ac_no', 'ac_name', 'pc_no', 'pc_name', 'pc_id', 'state_name_lower',
       'district_name_lower', 'gp_name_lower', 'dist_panch_right'],
      dtype='object')

In [253]:

fuzzy_mapped_1_2.iloc[:,:6]
# df_unmatch = df_unmatch.drop(['dist_panch'], axis=1)
fuzzy_match_again = pd.concat([df_unmatch, fuzzy_mapped_1_2.iloc[:,:6]]).drop_duplicates(keep=False)
fuzzy_match_again['gp_lower'] = fuzzy_match_again['panchayat_name'].str.lower() 
fuzzy_match_again['dist_lower'] = fuzzy_match_again['district'].str.lower()
# fuzzy_mapped_1_2.iloc[:,3:10].rename(columns={'dist_panch_left':'dist_panch'})
# df_unmatch.columns
# df_unmap_fuz['gp_name_lower'] = df_unmap_fuz['panchayat_name'].str.lower()

In [252]:
utr_map_ac_cols = ['object_id', 'state_name', 'state_code', 'district_name',
       'district_code', 'gp_name', 'ac_no', 'ac_name', 'pc_no', 'pc_name',
       'pc_id', 'state_name_lower', 'district_name_lower', 'gp_name_lower', 'gp_code']
ac_map_remaining = pd.concat([utr_ac_map[utr_map_ac_cols],utr_total_match[utr_map_ac_cols]]).drop_duplicates(keep=False)
ac_map_remaining

,object_id,state_name,state_code,district_name,district_code,gp_name,ac_no,ac_name,pc_no,pc_name,pc_id,state_name_lower,district_name_lower,gp_name_lower,gp_code
159346,211665.0,UTTARAKHAND,5.0,Uttarkashi,1.0,SIRI,3.0,Gangotri,1.0,TEHRI GARHWAL,501.0,uttarakhand,uttarkashi,siri,27571.0
159350,211933.0,UTTARAKHAND,5.0,Uttarkashi,1.0,BHARKOT,3.0,Gangotri,1.0,TEHRI GARHWAL,501.0,uttarakhand,uttarkashi,bharkot,27507.0
159356,212055.0,UTTARAKHAND,5.0,Uttarkashi,1.0,Dungal Dhar,3.0,Gangotri,1.0,TEHRI GARHWAL,501.0,uttarakhand,uttarkashi,dungal dhar,259955.0
159361,212143.0,UTTARAKHAND,5.0,Uttarkashi,1.0,THATI,3.0,Gangotri,1.0,TEHRI GARHWAL,501.0,uttarakhand,uttarkashi,thati,27573.0
159388,212686.0,UTTARAKHAND,5.0,Uttarkashi,1.0,RANARI,3.0,Gangotri,1.0,TEHRI GARHWAL,501.0,uttarakhand,uttarkashi,ranari,27566.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167128,195467.0,UTTARAKHAND,5.0,Udham Singh Nagar,12.0,BICHUWA,69.0,Nanak Matta (ST,4.0,NAINITAL-UDHAMSINGH NAG,504.0,uttarakhand,udham singh nagar,bichuwa,27311.0
167129,195586.0,UTTARAKHAND,5.0,Udham Singh Nagar,12.0,UKRAULI,69.0,Nanak Matta (ST,4.0,NAINITAL-UDHAMSINGH NAG,504.0,uttarakhand,udham singh nagar,ukrauli,260374.0
167524,205184.0,UTTARAKHAND,9.0,Hardwar,1.0,AMARPUR URF BEGAMPUR,4.0,Saharanpur,1.0,SAHARANPUR,901.0,uttarakhand,hardwar,amarpur urf begampur,267715.0
167530,205265.0,UTTARAKHAND,9.0,Hardwar,1.0,AMARPUR SHEIKHPUR CHANDPUR,4.0,Saharanpur,1.0,SAHARANPUR,901.0,uttarakhand,hardwar,amarpur sheikhpur chandpur,85411.0
168250,201913.0,UTTARAKHAND,9.0,Garhwal,3.0,Harsinghpur,19.0,Barhapur,6.0,MORADABAD,906.0,uttarakhand,garhwal,harsinghpur,260169.0

In [255]:
fuzzy_gp_level = fuzzymatcher.fuzzy_left_join(
    df_left=fuzzy_match_again,
    df_right=ac_map_remaining,
    left_on=['gp_lower','dist_lower'],
    right_on=['gp_name_lower','district_name_lower']
)
fuzzy_gp_level

,best_match_score,__id_left,__id_right,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,gp_lower,...,gp_name,ac_no,ac_name,pc_no,pc_name,pc_id,state_name_lower,district_name_lower,gp_name_lower,gp_code
0,-0.173740,0_left,1267_right,5,ALMORA,45,BHAISIYA CHHANA,352,ALISUPYAL,alisupyal,...,LIGUDTA,47.0,Bageshwar (SC),3.0,ALMORA (SC),503.0,uttarakhand,almora,ligudta,20634.0
50,-0.173740,1_left,1267_right,5,ALMORA,45,BHAISIYA CHHANA,352,BAMANTILARI,bamantilari,...,LIGUDTA,47.0,Bageshwar (SC),3.0,ALMORA (SC),503.0,uttarakhand,almora,ligudta,20634.0
100,0.059043,2_left,1400_right,5,ALMORA,45,BHAISIYA CHHANA,352,BAUDA,bauda,...,BAMUDA,49.0,Salt,3.0,ALMORA (SC),503.0,uttarakhand,almora,bamuda,21287.0
150,-0.173740,3_left,1267_right,5,ALMORA,45,BHAISIYA CHHANA,352,BHAISIYACHHANA,bhaisiyachhana,...,LIGUDTA,47.0,Bageshwar (SC),3.0,ALMORA (SC),503.0,uttarakhand,almora,ligudta,20634.0
200,-0.173740,4_left,1267_right,5,ALMORA,45,BHAISIYA CHHANA,352,DAHULNELI,dahulneli,...,LIGUDTA,47.0,Bageshwar (SC),3.0,ALMORA (SC),503.0,uttarakhand,almora,ligudta,20634.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108535,-0.108077,2329_left,315_right,5,PITHORAGARH,53,PITHORAGARH,421,Orhmatha,orhmatha,...,LODH,42.0,Dharchula,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,lodh,25718.0
108585,-0.108077,2330_left,315_right,5,PITHORAGARH,53,PITHORAGARH,421,Shiloli,shiloli,...,LODH,42.0,Dharchula,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,lodh,25718.0
108635,-0.098043,2331_left,315_right,5,PITHORAGARH,53,PITHORAGARH,421,Silpaata,silpaata,...,LODH,42.0,Dharchula,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,lodh,25718.0
108685,-0.108077,2332_left,315_right,5,PITHORAGARH,53,PITHORAGARH,421,Dadimkhola,dadimkhola,...,LODH,42.0,Dharchula,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,lodh,25718.0
108735,-0.108077,2333_left,315_right,5,PITHORAGARH,53,PITHORAGARH,421,DevlalGaon,devlalgaon,...,LODH,42.0,Dharchula,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,lodh,25718.0

In [256]:
fuzzy_gp_level.to_csv(mapped_path + "/utr_fuz_gplevel.csv", index=False)

In [271]:
gp_fuz_manual = pd.read_csv(mapped_path + "/utr_fuz_gplevel.csv").drop(["best_match_score",'__id_left', '__id_right','gp_lower','dist_lower'],axis=1)

In [274]:
# gp_fuz_manual[gp_fuz_manual.gp_code.isna()]
# utr_total_match
utr_total_match = pd.concat([utr_total_match, gp_fuz_manual]).reset_index(drop=True)
# df[df.gp_code.isnull()]
utr_total_match

,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,gp_code,object_id,state_name,state_code,...,district_code,gp_name,ac_no,ac_name,pc_no,pc_name,pc_id,state_name_lower,district_name_lower,gp_name_lower
0,5,ALMORA,45,BHAISIYA CHHANA,352,BABURIYA NAYAL,20605.0,201466.0,UTTARAKHAND,5.0,...,9.0,BABURIYA NAYAL,52.0,Almora,3.0,ALMORA (SC),503.0,uttarakhand,almora,baburiya nayal
1,5,ALMORA,45,BHAISIYA CHHANA,352,CHHANI,20612.0,200962.0,UTTARAKHAND,5.0,...,9.0,CHHANI,52.0,Almora,3.0,ALMORA (SC),503.0,uttarakhand,almora,chhani
2,5,ALMORA,45,BHAISIYA CHHANA,352,DALAKOT,20613.0,200524.0,UTTARAKHAND,5.0,...,9.0,DALAKOT,52.0,Almora,3.0,ALMORA (SC),503.0,uttarakhand,almora,dalakot
3,5,ALMORA,45,BHAISIYA CHHANA,352,DIGOLI,20618.0,200941.0,UTTARAKHAND,5.0,...,9.0,DIGOLI,52.0,Almora,3.0,ALMORA (SC),503.0,uttarakhand,almora,digoli
4,5,ALMORA,45,BHAISIYA CHHANA,352,DIYARI,20619.0,201131.0,UTTARAKHAND,5.0,...,9.0,DIYARI,52.0,Almora,3.0,ALMORA (SC),503.0,uttarakhand,almora,diyari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5960,5,UDAM SINGH NAGAR,56,GADARPUR,435,BRAKHAEDAA,27181.0,196589.0,UTTARAKHAND,5.0,...,12.0,BARKHEDA PANDEY,64.0,Bajpur (SC),4.0,NAINITAL-UDHAMSINGH NAG,504.0,uttarakhand,udham singh nagar,barkheda pandey
5961,5,UDAM SINGH NAGAR,56,KHATIMA,438,SAUJAIYA,27151.0,197300.0,UTTARAKHAND,5.0,...,12.0,HALDUWA SAHU,62.0,Jaspur,4.0,NAINITAL-UDHAMSINGH NAG,504.0,uttarakhand,udham singh nagar,halduwa sahu
5962,5,UDAM SINGH NAGAR,56,JASPUR,436,BABRKHAEDAA,27181.0,196589.0,UTTARAKHAND,5.0,...,12.0,BARKHEDA PANDEY,64.0,Bajpur (SC),4.0,NAINITAL-UDHAMSINGH NAG,504.0,uttarakhand,udham singh nagar,barkheda pandey
5963,5,UTTAR KASHI,57,DUNDA,443,BHARKOT,27507.0,211933.0,UTTARAKHAND,5.0,...,1.0,BHARKOT,3.0,Gangotri,1.0,TEHRI GARHWAL,501.0,uttarakhand,uttarkashi,bharkot
5964,5,UTTAR KASHI,57,BHATWARI,441,BAYANA,27363.0,212899.0,UTTARAKHAND,5.0,...,1.0,BAYANA,3.0,Gangotri,1.0,TEHRI GARHWAL,501.0,uttarakhand,uttarkashi,bayana

In [279]:
fuzzy_match_again2 = pd.concat([fuzzy_match_again.iloc[:,:6],gp_fuz_manual.iloc[:,:6]]).drop_duplicates(keep=False)

In [283]:
fuzzy_match_again2['dist_lower'] = fuzzy_match_again2['district'].str.lower()
fuzzy_match_again2['gp_lower'] = fuzzy_match_again2['panchayat_name'].str.lower()

# utr_ac = utr_ac_map[utr_map_ac_cols]
# utr_ac
gp_fuz_2 = fuzzymatcher.fuzzy_left_join(
    df_left=fuzzy_match_again2,
    df_right=utr_ac_map,
    left_on=['gp_lower','dist_lower'],
    right_on=['gp_name_lower','district_name_lower']
)
gp_fuz_2

,best_match_score,__id_left,__id_right,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,dist_lower,...,gp_code,ac_no,ac_name,pc_no,pc_name,pc_id,state_name_lower,district_name_lower,gp_name_lower,dist_panch
0,-0.140621,0_left,4236_right,5,ALMORA,45,BHAISIYA CHHANA,352,ALISUPYAL,almora,...,243169.0,47.0,Bageshwar (SC),3.0,ALMORA (SC),503.0,uttarakhand,almora,naugaon,almora_naugaon
50,-0.140621,1_left,4236_right,5,ALMORA,45,BHAISIYA CHHANA,352,BAMANTILARI,almora,...,243169.0,47.0,Bageshwar (SC),3.0,ALMORA (SC),503.0,uttarakhand,almora,naugaon,almora_naugaon
100,-0.140621,2_left,4236_right,5,ALMORA,45,BHAISIYA CHHANA,352,BHAISIYACHHANA,almora,...,243169.0,47.0,Bageshwar (SC),3.0,ALMORA (SC),503.0,uttarakhand,almora,naugaon,almora_naugaon
150,-0.140621,3_left,4236_right,5,ALMORA,45,BHAISIYA CHHANA,352,DAHULNELI,almora,...,243169.0,47.0,Bageshwar (SC),3.0,ALMORA (SC),503.0,uttarakhand,almora,naugaon,almora_naugaon
200,-0.140621,4_left,4236_right,5,ALMORA,45,BHAISIYA CHHANA,352,DEWDA,almora,...,243169.0,47.0,Bageshwar (SC),3.0,ALMORA (SC),503.0,uttarakhand,almora,naugaon,almora_naugaon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96881,-0.084439,2114_left,1233_right,5,PITHORAGARH,53,PITHORAGARH,421,Orhmatha,pithoragarh,...,25328.0,42.0,Dharchula,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,toli,pithoragarh_toli
96931,-0.084439,2115_left,1233_right,5,PITHORAGARH,53,PITHORAGARH,421,Shiloli,pithoragarh,...,25328.0,42.0,Dharchula,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,toli,pithoragarh_toli
96981,-0.084439,2116_left,1233_right,5,PITHORAGARH,53,PITHORAGARH,421,Silpaata,pithoragarh,...,25328.0,42.0,Dharchula,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,toli,pithoragarh_toli
97031,-0.084439,2117_left,1233_right,5,PITHORAGARH,53,PITHORAGARH,421,Dadimkhola,pithoragarh,...,25328.0,42.0,Dharchula,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,toli,pithoragarh_toli
97081,-0.084439,2118_left,1233_right,5,PITHORAGARH,53,PITHORAGARH,421,DevlalGaon,pithoragarh,...,25328.0,42.0,Dharchula,3.0,ALMORA (SC),503.0,uttarakhand,pithoragarh,toli,pithoragarh_toli

In [298]:
gp_match2 = gp_fuz_2.query("best_match_score >= 0.2").sort_values( by=['best_match_score'], ascending=True).copy()
gp_match2[['best_match_score','dist_lower','gp_lower','gp_name_lower','district_name_lower']]

,best_match_score,dist_lower,gp_lower,gp_name_lower,district_name_lower
9202,0.200133,almora,melgaon,melgaon,garhwal
95931,0.201047,pithoragarh,suinee,sini,pithoragarh
43985,0.201625,bageshwar,kande,kandey,bageshwar
27338,0.203630,tehri garhwal,maolathha,mald,tehri garhwal
65501,0.205616,nainital,agharia,aghora,nainital
44737,0.210560,bageshwar,bhayedi,bhaita,bageshwar
47465,0.210560,bageshwar,pethi,bhaita,bageshwar
88778,0.211081,pithoragarh,khulet,galati,pithoragarh
92179,0.213569,pithoragarh,basaur,basour,pithoragarh
85697,0.217733,pithoragarh,sangaurh,syankuri,pithoragarh
88378,0.220373,pithoragarh,byalkatiya,baluwakot,pithoragarh
34292,0.221352,tehri garhwal,dharwal gaon,dharsal gaon,tehri garhwal
71915,0.233279,pauri garhwal,kunj,kunj,almora
40459,0.237283,udam singh nagar,bhagvanapur,bhagwantpur,udham singh nagar
8104,0.240824,almora,saun gaon,saun gaon,pithoragarh
74226,0.242609,pauri garhwal,kucholi,kucholi,bageshwar
93629,0.272832,pithoragarh,girgaon,girgaon,garhwal

In [324]:
# fuzzy_match_again2 = fuzzy_match_again2.drop(['dist_lower','gp_lower'],axis=1)
utr_total = pd.concat([utr_total_match,fuzzy_match_again2,nrega_only_gps])
utr_total.drop_duplicates(utr_total.columns[:6],keep='first')
utr_total

,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,gp_code,object_id,state_name,state_code,...,district_code,gp_name,ac_no,ac_name,pc_no,pc_name,pc_id,state_name_lower,district_name_lower,gp_name_lower
0,5,ALMORA,45,BHAISIYA CHHANA,352,BABURIYA NAYAL,20605.0,201466.0,UTTARAKHAND,5.0,...,9.0,BABURIYA NAYAL,52.0,Almora,3.0,ALMORA (SC),503.0,uttarakhand,almora,baburiya nayal
1,5,ALMORA,45,BHAISIYA CHHANA,352,CHHANI,20612.0,200962.0,UTTARAKHAND,5.0,...,9.0,CHHANI,52.0,Almora,3.0,ALMORA (SC),503.0,uttarakhand,almora,chhani
2,5,ALMORA,45,BHAISIYA CHHANA,352,DALAKOT,20613.0,200524.0,UTTARAKHAND,5.0,...,9.0,DALAKOT,52.0,Almora,3.0,ALMORA (SC),503.0,uttarakhand,almora,dalakot
3,5,ALMORA,45,BHAISIYA CHHANA,352,DIGOLI,20618.0,200941.0,UTTARAKHAND,5.0,...,9.0,DIGOLI,52.0,Almora,3.0,ALMORA (SC),503.0,uttarakhand,almora,digoli
4,5,ALMORA,45,BHAISIYA CHHANA,352,DIYARI,20619.0,201131.0,UTTARAKHAND,5.0,...,9.0,DIYARI,52.0,Almora,3.0,ALMORA (SC),503.0,uttarakhand,almora,diyari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7363,5,PITHORAGARH,53,DHARCHULA,415,DHARCHULA DEHAT,25287.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7486,5,PITHORAGARH,53,GANGOLIHAT,417,BOYAL,25416.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7566,5,PITHORAGARH,53,GANGOLIHAT,417,JAJAULI,25451.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7676,5,PITHORAGARH,53,KANALICHINA,418,PATALIGAON,25580.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7860,5,PITHORAGARH,53,MUNSYARI,420,GOLA,243215.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [307]:
merge = merge.drop("dist_panch", axis=1)

In [316]:
x = pd.concat([merge, utr_total]).drop_duplicates(keep=False)
y = x[x.object_id.notnull()]

In [326]:
utr_vals = pd.concat([utr_total, y]).drop_duplicates()
utr_vals.columns

Index(['state_LGD_code', 'district', 'district_LGD_code', 'block_name',
       'block_LGD_code', 'panchayat_name', 'gp_code', 'object_id',
       'state_name', 'state_code', 'district_name', 'district_code', 'gp_name',
       'ac_no', 'ac_name', 'pc_no', 'pc_name', 'pc_id', 'state_name_lower',
       'district_name_lower', 'gp_name_lower'],
      dtype='object')

In [320]:
# mapped_df = df.merge(mapped_codes_1_2_3[['block_code','gp_name_lower','gp_code']], left_on=['block_LGD_code','gp_name_lower'],
#                                 right_on=['block_code','gp_name_lower'], how='left')
# mapped_df = mapped_df.drop(['gp_name_lower','block_code'], axis=1)
# gp_code_column = mapped_df.pop('gp_code')
# mapped_df.insert(7, 'gp_code', gp_code_column)
# mapped_df
utr_nrega.columns

Index(['state', 'state_LGD_code', 'district', 'district_LGD_code',
       'block_name', 'block_LGD_code', 'panchayat_name', 'gp_code',
       'work_code', 'work_started_date', 'work_physically_completed_date',
       'finished_when', 'sanction_amount_in_lakh',
       'total_amount_paid_since_inception_in_lakh', 'total_mandays',
       'no_of_units', 'is_secure', 'work_status', 'master_work_category_name',
       'work_category_name', 'work_start_fin_year'],
      dtype='object')

In [356]:
ac_utr = utr_nrega.merge(utr_vals[['state_LGD_code', 'district', 'district_LGD_code',
       'block_name', 'block_LGD_code', 'panchayat_name', 'gp_code','ac_no', 'ac_name', 'pc_no', 'pc_name', 'pc_id']],
       left_on=['state_LGD_code', 'district', 'district_LGD_code',
       'block_name', 'block_LGD_code', 'panchayat_name',],
       right_on=['state_LGD_code', 'district', 'district_LGD_code',
       'block_name', 'block_LGD_code', 'panchayat_name'], how='left')
ac_utr[ac_utr.ac_name.notnull()]
ac_utr.to_csv(mapped_path + '/uttrakhand_ac_mapped_code.csv', index=False)

In [337]:
ac_nre = ac_utr.ac_name.unique().tolist()

In [338]:
ac_map = utr_ac_map.ac_name.unique().tolist()

In [339]:
set(ac_map) - set(ac_nre)

{'B.H.E.L. Ranipu', 'Barhapur', 'Dharampur', 'Haldwani', 'Saharanpur'}

In [352]:
ac_list = ['B.H.E.L. Ranipu', 'Barhapur', 'Dharampur', 'Haldwani', 'Saharanpur']

missing = utr_ac_map[utr_ac_map['ac_name'].isin(ac_list)]
missing.shape

(27, 16)

In [355]:
ac_utr[ac_utr.ac_name.notnull()].shape[0]/ac_utr.shape[0]

0.7544007716421509