In [3]:
from pathlib import Path
import pandas as pd
from fuzzywuzzy import process

In [4]:
dir_path = Path.cwd()
raw_data_path = Path.joinpath(dir_path, "data", "raw")
interim_data_path = Path.joinpath(dir_path, "data", "interim")
processed_data_path = Path.joinpath(dir_path, "data", "processed")
ext_data_path = Path.joinpath(dir_path, "data", "external")

In [5]:
lgd = pd.read_csv(Path.joinpath(ext_data_path, "lgd_district.csv"))

In [6]:
lgd

,St_LGD_code,St_Cs2011_code,St_Cs2001_code,State Name(In English),Dt_LGD_code,Dt_Cs2011_code,Dt_Cs2001_code,District Name(In English)
0,35,35,35.0,ANDAMAN AND NICOBAR ISLANDS,603,638,2.0,NICOBARS
1,35,35,35.0,ANDAMAN AND NICOBAR ISLANDS,632,639,NaN,NORTH AND MIDDLE ANDAMAN
2,35,35,35.0,ANDAMAN AND NICOBAR ISLANDS,602,640,1.0,SOUTH ANDAMANS
3,28,28,28.0,ANDHRA PRADESH ...,502,553,22.0,ANANTAPUR
4,28,28,28.0,ANDHRA PRADESH ...,503,554,23.0,CHITTOOR
...,...,...,...,...,...,...,...,...
729,19,19,19.0,WEST BENGAL ...,319,333,7.0,MURSHIDABAD
730,19,19,19.0,WEST BENGAL ...,320,336,10.0,NADIA
731,19,19,19.0,WEST BENGAL ...,704,0,NaN,PASCHIM BARDHAMAN
732,19,19,19.0,WEST BENGAL ...,306,335,9.0,PURBA BARDHAMAN
733,19,19,19.0,WEST BENGAL ...,321,340,14.0,PURULIA

In [7]:
state = {}
district = {}

In [8]:
for i in range(0, len(lgd['State Name(In English)'])):
    state[lgd['State Name(In English)'][i].rstrip()] = lgd['St_LGD_code'][i]

In [9]:
state

{'ANDAMAN AND NICOBAR ISLANDS': 35,
 'ANDHRA PRADESH': 28,
 'ARUNACHAL PRADESH': 12,
 'ASSAM': 18,
 'BIHAR': 10,
 'CHANDIGARH': 4,
 'CHHATTISGARH': 22,
 'DELHI': 7,
 'GOA': 30,
 'GUJARAT': 24,
 'HARYANA': 27,
 'HIMACHAL PRADESH': 13,
 'JAMMU AND KASHMIR': 1,
 'JHARKHAND': 20,
 'KARNATAKA': 29,
 'KERALA': 32,
 'LADAKH': 37,
 'LAKSHADWEEP': 31,
 'MADHYA PRADESH': 23,
 'MAHARASHTRA': 27,
 'MANIPUR': 14,
 'MEGHALAYA': 17,
 'MIZORAM': 15,
 'NAGALAND': 13,
 'ODISHA': 21,
 'PUDUCHERRY': 34,
 'PUNJAB': 3,
 'RAJASTHAN': 8,
 'SIKKIM': 11,
 'TAMIL NADU': 33,
 'TELANGANA': 36,
 'THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU': 38,
 'TRIPURA': 16,
 'UTTAR PRADESH': 9,
 'UTTARAKHAND': 5,
 'WEST BENGAL': 19}

In [10]:
for j in range(0, len(lgd['District Name(In English)'])):
    district[lgd['State Name(In English)'][j].rstrip() +lgd['District Name(In English)'][j]] = lgd['Dt_LGD_code'][j]

In [11]:
len(district)

734

In [12]:
cattle = pd.read_csv(Path.joinpath(processed_data_path, "cattle.csv"))
buffalo = pd.read_csv(Path.joinpath(processed_data_path, "buffalo.csv"))
goat = pd.read_csv(Path.joinpath(processed_data_path, "goat.csv"))
pig = pd.read_csv(Path.joinpath(processed_data_path, "pig.csv"))
sheep = pd.read_csv(Path.joinpath(processed_data_path, "sheep.csv"))

In [13]:
buffalo

,state_name,district_name,female,upto_two_years,used_for_breeding_only,used_for_agri_only,used_for_agri_and_breeding,bullock_cart_farm_op,others,under_one_year,one_to_three_years,in_milk,dry,not_calved_once,total_male,total_female,total
0,Andaman And Nicobar Islands,Nicobars,0,3.0,3.0,1.0,15.0,0.0,0,NaN,NaN,NaN,NaN,NaN,22.0,NaN,49
1,Andaman And Nicobar Islands,Nicobars,1,NaN,NaN,NaN,NaN,NaN,0,5.0,5.0,8.0,7.0,2.0,NaN,27.0,49
2,Andaman And Nicobar Islands,South Andamans,1,NaN,NaN,NaN,NaN,NaN,2,154.0,159.0,258.0,150.0,28.0,NaN,751.0,1034
3,Andaman And Nicobar Islands,North And Middle Andaman,1,NaN,NaN,NaN,NaN,NaN,14,161.0,140.0,303.0,362.0,20.0,NaN,1000.0,2617
4,Andaman And Nicobar Islands,South Andamans,0,120.0,33.0,42.0,73.0,12.0,3,NaN,NaN,NaN,NaN,NaN,283.0,NaN,1034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359,West Bengal,Medinipur West,0,4243.0,693.0,13228.0,1526.0,2494.0,240,NaN,NaN,NaN,NaN,NaN,22424.0,NaN,37649
1360,West Bengal,Murshidabad,0,10137.0,2186.0,12425.0,1656.0,1568.0,822,NaN,NaN,NaN,NaN,NaN,28794.0,NaN,66783
1361,West Bengal,Nadia,0,2326.0,558.0,5139.0,472.0,305.0,150,NaN,NaN,NaN,NaN,NaN,8950.0,NaN,17157
1362,West Bengal,PASCHIM BARDHAMAN,1,NaN,NaN,NaN,NaN,NaN,112,3707.0,2632.0,8178.0,1816.0,898.0,NaN,17343.0,22682
1363,West Bengal,Purulia,1,NaN,NaN,NaN,NaN,NaN,456,3208.0,2587.0,5248.0,1761.0,609.0,NaN,13869.0,77650

In [14]:
cattle['state_dist']  = cattle['state_name'] + cattle['district_name']
buffalo['state_dist']  = buffalo['state_name'] + buffalo['district_name']
pig['state_dist']  = pig['state_name'] + pig['district_name']
goat['state_dist']  = goat['state_name'] + goat['district_name']
sheep['state_dist']  = sheep['state_name'] + sheep['district_name']

In [15]:
cattle['dist_lgd'] = ""
sheep['dist_lgd'] = ""
buffalo['dist_lgd'] = ""
pig['dist_lgd'] = ""
goat['dist_lgd'] = ""

In [16]:
cattle['state_lgd'] = ""
sheep['state_lgd'] = ""
buffalo['state_lgd'] = ""
pig['state_lgd'] = ""
goat['state_lgd'] = ""

In [17]:
c = {}
b = {}
p = {}
g = {}
s = {}

In [18]:
for i in range(0, 2776):
    dist  = cattle['state_dist'][i].upper()
    if (dist in district):
        cattle['dist_lgd'][i] = district[dist]
    else:
        cattle['dist_lgd'][i] = '0'
        c[dist] = '0'
    st = cattle['state_name'][i].upper()
    if(st in state):
        cattle['state_lgd'][i] = state[st]
    else:
        cattle['state_lgd'][i] = '0'

C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [19]:
for i in range(0, 1364):
    dist  = buffalo['state_dist'][i].upper()
    if (dist in district):
        buffalo['dist_lgd'][i] = district[dist]
    else:
        buffalo['dist_lgd'][i] = '0'
        b[dist] = '0'
    st = buffalo['state_name'][i].upper()
    if(st in state):
        buffalo['state_lgd'][i] = state[st]
    else:
        buffalo['state_lgd'][i] = '0'

C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [20]:
for i in range(0, 1396):
    dist  = goat['state_dist'][i].upper()
    if (dist in district):
        goat['dist_lgd'][i] = district[dist]
    else:
        goat['dist_lgd'][i] = '0'
        g[dist] = '0'
    st = goat['state_name'][i].upper()
    if(st in state):
        goat['state_lgd'][i] = state[st]
    else:
        goat['state_lgd'][i] = '0'

C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [21]:
for i in range(0, 1260):
    dist  = sheep['state_dist'][i].upper()
    if (dist in district):
        sheep['dist_lgd'][i] = district[dist]
    else:
        sheep['dist_lgd'][i] = '0'
        s[dist] = '0'
    st = sheep['state_name'][i].upper()
    if(st in state):
        sheep['state_lgd'][i] = state[st]
    else:
        sheep['state_lgd'][i] = '0'

C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [22]:
for i in range(0, 1252):
    dist  = pig['state_dist'][i].upper()
    if (dist in district):
        pig['dist_lgd'][i] = district[dist]
    else:
        pig['dist_lgd'][i] = '0'
        p[dist] = '0'
    st = pig['state_name'][i].upper()
    if(st in state):
        pig['state_lgd'][i] = state[st]
    else:
        pig['state_lgd'][i] = '0'

C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\gohal\Desktop\Coding\bipp-datasets\.venv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
print("Number of missing values (district):", end = "\n")
print("Buffalo", len(buffalo[buffalo['dist_lgd'] == '0']))
print("Cattle", len(cattle[cattle['dist_lgd'] == '0']))
print("Pig", len(pig[pig['dist_lgd'] == '0']))
print("Goat", len(goat[goat['dist_lgd'] == '0']))
print("Sheep", len(sheep[sheep['dist_lgd'] == '0']))

Number of missing values (district):
Buffalo 112
Cattle 238
Pig 132
Goat 116
Sheep 110

In [24]:
print("Number of missing values (state):", end = "\n")
print("Buffalo", len(buffalo[buffalo['state_lgd'] == '0']))
print("Cattle", len(cattle[cattle['state_lgd'] == '0']))
print("Pig", len(pig[pig['state_lgd'] == '0']))
print("Goat", len(goat[goat['state_lgd'] == '0']))
print("Sheep", len(sheep[sheep['state_lgd'] == '0']))

Number of missing values (state):
Buffalo 4
Cattle 10
Pig 0
Goat 6
Sheep 4

In [25]:
result = [
            process.extractOne(i, district)
            for i in b
        ]

In [28]:
result = pd.DataFrame(result, columns=["match", "score", "id"])
result.drop("id", axis=1, inplace=True)

    match  score
0     603      0
1     603      0
2     603      0
3     603      0
4     603      0
5     603      0
6     603      0
7     603      0
8     603      0
9     603      0
10    603      0
11    603      0
12    603      0
13    603      0
14    603      0
15    603      0
16    603      0
17    603      0
18    603      0
19    603      0
20    603      0
21    603      0
22    603      0
23    603      0
24    603      0
25    603      0
26    603      0
27    603      0
28    603      0
29    603      0
30    603      0
31    603      0
32    603      0
33    603      0
34    603      0
35    603      0
36    603      0
37    603      0
38    603      0
39    603      0
40    603      0
41    603      0
42    603      0
43    603      0
44    603      0
45    603      0
46    603      0
47    603      0
48    603      0
49    603      0
50    603      0
51    603      0
52    603      0
53    603      0
54    603      0
55    603      0